extends ../main

include ../../components/header/header
include ../../components/footer/footer
include ../../components/subscription/subscription
include ../../components/card-book/card-book
include ../../components/date-dropdown/date-dropdown
include ../../components/dropdown-choose/dropdown-choose
include ../../components/advantages/advantages
include ../../components/circle-diagram/circle-diagram
include ../../components/review/review
include ../../components/like-button/like-button
include ../../components/bullet-list/bullet-list

block head
  link(rel='apple-touch-icon' sizes='180x180' href='assets/favicons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='assets/favicons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='assets/favicons/favicon-16x16.png')
  link(rel='manifest' href='assets/favicons/site.webmanifest')
  link(rel='mask-icon' href='assets/favicons/safari-pinned-tab.svg' color='#5bbad5')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='theme-color' content='#ffffff')

block content
  +header({routes: [
            {
              text: 'О нас',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Услуги',
              active: false,
              href: '/mock-address/change-me',
              dropdown: true
            },
            {
              text: 'Вакансии',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Новости',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Соглашения',
              active: false,
              href: '/mock-address/change-me',
              dropdown: true
            },
          ],isEntered: false})
  .content
    .room-details
      .room-details__room-photos
        img(src=require("./images/room-d-1.jpg").default alt="Комната в отеле" class="room-details__main-photo room-details__photo")
        .room-details__another-photos
          img(src=require("./images/room-d-2.jpg").default alt="Комната в отеле" class="room-details__another-photo room-details__photo")
          img(src=require("./images/room-d-3.jpg").default alt="Комната в отеле" class="room-details__another-photo room-details__photo")
      .room-details__text-content
        .room-details__container
          main.room-details__main 
            section.room-details__info
              .room-details__info-head
                .room-details__block
                  span.room-details__title
                    | Сведения о номере
                  +advantages({items: [
                          {
                            title: "Комфорт",
                            description: "Шумопоглащиющие стены",
                            href: "#insert-emoticon"
                          },
                          {
                            title: "Удобство",
                            description: "Окно в каждой из спален",
                            href: "#location-city"
                          },
                          {
                            title: "Уют",
                            description: "Номер оснащен камином",
                            href: "#whatshot"
                          },

                        ]})
                .room-details__block
                  span.room-details__title
                    | Впечатления от номера
                  +circle-diagram({
                    voices: [
                       {
                        grade: "Великолепно",
                        num: 130
                      },
                      {
                        grade: "Хорошо",
                        num: 65
                      },
                       {
                        grade: "Удовлетворительно",
                        num: 65
                      },
                       {
                        grade: "Разочарован",
                        num: 0
                      },
                    ]
                  })
              .room-details__reviews
                .room-details__reviews-head
                  span.room-details__title
                    | Отзывы посетителей номера
                  span.room-details__reviews-count
                    | 2 отзыва
                +review({
                  src: "images/maga.png",
                  name: "Мурад Сарафанов",
                  date: "5 дней назад",
                  text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.\nИ стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто\nне жаловался из соседей.",
                  like: 11
                })
                +review({
                  src: "images/patric.png",
                  name: "Патрисия Стёклышкина",
                  date: "Неделю назад",
                  text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать,\nкаждый день новое блюдо и десерт как комплимент",
                  like: 2
                  }
                  )
              .room-details__rules-block
                +bullet-list({
                  title: "Правила", 
                  items: [
                    "Нельзя с питомцами",
                    "Без вечеринок и мероприятий",
                    "Время прибытия — после 13:00, а выезд до 12:00",
                  ]
              })
                .room-details__cancel-rule
                  span.room-details__title
                    | Отмена
                  p.room-details__cancel-text
                    | Бесплатная отмена в течение 48 ч. После
                    | этого при отмене не позднее чем за 5 дн. до
                    | прибытия вы получите полный возврат за
                    | вычетом сбора за услуги.
            aside.room-details__aside
              +card-book({
                number: 888,
                type: "люкс",
                priceForOneDay: "9 990",
                discount: "2 179",
                taxes: ["1 000", "300"]
              })



  +footer()