.rich-list {
  display: block;
  max-width: 266px;
  user-select: none;
  cursor: pointer;
  &__li {
    margin-bottom: rem(10);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
  }
  &__custom-checkbox {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    border: $border;
    border-radius: 4px;
    margin-right: rem(10);
  }
  &__head {
    @include MontBold;
    color: $ds75;
    text-transform: uppercase;
    font-size: rem(12);
    white-space: pre;
    line-height: rem(18);
  }
  &__description {
    font-size: rem(12);
    color: $ds50;
    line-height: rem(14);
    white-space: pre-wrap;
  }
  input {
    display: none;
  }
  input:checked + span {
    border-color: $purple;
    background-image: url('./assets/img/Vector.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
