mixin rich-list() 
  .rich-list
    ul.rich-list__ul
      li.rich-list__li
        label.rich-list__item
          input(type='checkbox').rich-list__checkbox
          span.rich-list__custom-checkbox 
          span.rich-list__text 
            span.rich-list__head Широкий коридор
            br
            span.rich-list__description
              | Ширина коридоров в номере 
              | не менее 91 см.
      li.rich-list__li
        label.rich-list__item
          input(type='checkbox').rich-list__checkbox
          span.rich-list__custom-checkbox 
          span.rich-list__text 
            span.rich-list__head Помощник для инвалидов
            br
            span.rich-list__description
              | На 1 этаже вас встретит специалист 
              | и проводит до номера.