.landing-page {
  background-image: url('pages/landing-page/images/landing-page-bg.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 70px;
  min-height: calc(900px - 70px);
  @media (min-width: $sm-desktop-width) {
    background-size: cover;
  }
  @media (max-width: $sm-desktop-width) {
    min-height: calc(100vh - 20px);
  }
  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__description {
    text-align: right;
    padding-bottom: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 24px;
    color: $text-color-brightness-75;
    align-self: flex-end;
  }
}
