.block-title {
  margin-bottom: 5px;
  font-family: $font-family-primary;
  font-size: 12px;
  line-height: 15px;
  font-weight: $bold;
  white-space: pre-wrap;
  text-transform: uppercase;
  color: $text-color;
  overflow-wrap: break-word;
  @media (max-width: $phone-width) {
    margin-bottom: 3px;
    font-size: 10px;
    line-height: 12px;
  }
}
