.subscription {
  display: block;
  max-width: rem(320);
  &:hover & {
    &__input {
      border: $borderHover;
      &::placeholder {
        color: $ds75;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    font-family: 'MontserratBold', Arial, sans-serif;
    font-size: rem(12);
  }
  &__input {
    display: block;
    width: 100%;
    max-width: rem(266);
    border: $border;
    border-radius: rem(4);
    transition: $trFast;
    padding: rem(12) rem(40) rem(12) rem(15);
    font-size: rem(14);
    color: $ds75;
    font-family: 'MontserratMedium', sans-serif;
    background-image: url('./assets/img/arrow-forward.jpg');
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 50%;
    &::placeholder {
      font-size: rem(14);
      color: $ds25;
      transition: $trFast;
    }
    &:focus {
      border: $borderHover;
      &::placeholder {
        color: $ds75;
      }
    }
  }
}
