mixin photo-preview()
	.photo-preview
		img(src=require("./images/room-d-1.jpg").default alt="Спальня" class="photo-preview__main-photo photo-preview__photo")
		.photo-preview__another-photos
			img(src=require("./images/room-d-2.jpg").default alt="Детская спальня" class="photo-preview__another-photo photo-preview__photo")
			img(src=require("./images/room-d-3.jpg").default alt="Гостиная " class="photo-preview__another-photo photo-preview__photo")