mixin card-selection()
  .card-selection
    .card-selection__content
      form.card-selection__form
        fieldset.card-selection__form-fieldset
          legend.card-selection__form-legend
            h1.card-selection__title 
              | Найдем номера под ваши пожелания
          .card-selection__block.card-selection__block_margin-b-15
            +date-dropdown({
              classNameFirstInput: "js-date-masked js-date-dropdown__input", 
              classNameSecondInput: "js-date-masked",
              title: "прибытие", 
              titleSecond: "выезд"
              })
          .card-selection__block.card-selection__block_margin-b-30
            h4.block-title
              | Гости
            +dropdown-choose({className: "js-dropdown-guests", title:"Гости"})
          input.button.button_big(type="submit" value="подобрать номер") 