@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap&subset=cyrillic');
@import "utils/fonts";
@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  @include Mont;
	font-size:MontserratSize;
  font-weight: $normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 {
  font-size: 1.7em;
  color: $ds100;
}

h2 {
  font-size: 19px;
  color: $ds100;
}

h3 {
  font-size: 12px;
  color: $ds100;
  text-transform: uppercase;
}




a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input, label {
  cursor: pointer;
}
input {
  // color: $ds75;
  text-shadow: none;
  @include Mont;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

::spelling-error {
  color: #fff;

}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
    
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}
.row {
  display: flex;
  @media screen and (max-width: $tableWidth) {
    flex-wrap: wrap;    
  }
  @media screen and (max-width: $phoneWidth) {
    flex-direction: column;
  }
}
.col {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  @media screen and (max-width: $tableWidth) {

  }
  @media screen and (max-width: $phoneWidth) {

  }
}

// Modules
@import "modules/title-element";
@import "modules/input-wrapper";
@import "modules/iqdropdown";
@import "modules/expand_more";
@import "modules/buttons-actions";
@import "modules/bad-value";
@import "modules/date-picker";
@import "modules/arrow-forward";
@import "modules/checkbox";
@import "modules/radio";
@import "modules/toggle";
@import "modules/like-button";
@import "modules/rate";
@import "modules/ion.rangeSlider";
@import "modules/range";
