.radio-buttons {
  $self: &;
  user-select: none;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: $phone-width) {
    font-size: 12px;
  }
  &__label {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__input {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    &:checked ~ #{$self}__checkmark {
      border-color: $primary-color;
      &:after {
        opacity: 1;
      }
    }
    &:checked ~ label {
      color: $text-color;
    }
    &:checked ~ #{$self}__text {
      color: $text-color-brightness-75;
    }
  }
  &__checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20px;
    max-width: 20px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid $text-color-brightness-25;
    border-radius: 50%;
    margin-right: 10px;
    @media (max-width: $phone-width) {
      margin-right: 5px;
    }
    &:focus {
      border: $border-input-hover;
    }
    &:after {
      content: '';
      display: block;
      opacity: 0;
      width: 14px;
      height: 14px;
      max-width: 14px;
      border-radius: 50%;
      background: $button-color-primary;
      transition: $tr-fast;
    }
  }
  &__text {
    color: $text-color-brightness-50;
  }
}
