@import '~utils/scss/main.scss';
@import '~components/card-selection/card-selection';

.landing-page {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./images/landing-page-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;

  &__container {
    @include container;
  }

  @media (min-width: $sm-desktop-width) {
    background-size: cover;
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__room-selection {
    padding-bottom: 320px;

    @media screen and (max-width: $sm-desktop-width) {
      padding-bottom: 200px;
    }
  }

  &__description {
    margin: 0;
    padding-bottom: 20px;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    white-space: pre-wrap;
    color: $text-color-brightness-75;
    align-self: flex-end;
  }
}
