extends ../template

include ~components/header/header
include ~components/footer/footer
include ~components/subscription/subscription
include ~components/card-selection/card-selection
include ~components/date-dropdown/date-dropdown
include ~components/dropdown-choose/dropdown-choose

block head
block content
  +header({routes: [
            {
              text: 'О нас',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Услуги',
              active: false,
              href: '/mock-address/change-me',
              dropdown: true
            },
            {
              text: 'Вакансии',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Новости',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Соглашения',
              active: false,
              href: '/mock-address/change-me',
              dropdown: true
            },
          ],isEntered: false})
  .content
    .landing-page
      .landing-page__container
        main.landing-page__main
          +card-selection()
      .landing-page__container
        p.landing-page__description
          | Лучшие номера для вашей работы,
          | отдыха и просто вдохновения
  +footer()

