mixin rate-buttons()
  .rate-buttons.js-rate-buttons
    label.rate-buttons__label( tabindex="0")
      input(type="checkbox").rate-buttons__input.js-rate-button__input
      .rate-buttons__star
        svg.rate-buttons__svg(role="image" aria-label="rate-star")
          use(xlink:href="#star_border").rate-buttons__star
        svg.rate-buttons__svg.rate-buttons__svg(role="image" aria-label="rate-star")
          use(xlink:href="#star").rate-buttons__star
      
    label.rate-buttons__label( tabindex="0")
      input(type="checkbox").rate-buttons__input.js-rate-button__input
      .rate-buttons__star
        svg.rate-buttons__svg(role="image" aria-label="rate-star")
          use(xlink:href="#star_border").rate-buttons__star
        svg.rate-buttons__svg.rate-buttons__svg(role="image" aria-label="rate-star")
          use(xlink:href="#star").rate-buttons__star

    label.rate-buttons__label( tabindex="0")
      input(type="checkbox").rate-buttons__input.js-rate-button__input
      .rate-buttons__star
        svg.rate-buttons__svg(role="image" aria-label="rate-star")
          use(xlink:href="#star_border").rate-buttons__star
        svg.rate-buttons__svg.rate-buttons__svg(role="image" aria-label="rate-star")
          use(xlink:href="#star").rate-buttons__star

    label.rate-buttons__label( tabindex="0")
      input(type="checkbox").rate-buttons__input.js-rate-button__input
      .rate-buttons__star
        svg.rate-buttons__svg(role="image" aria-label="rate-star")
          use(xlink:href="#star_border").rate-buttons__star
        svg.rate-buttons__svg.rate-buttons__svg(role="image" aria-label="rate-star")
          use(xlink:href="#star").rate-buttons__star

    label.rate-buttons__label( tabindex="0")
      input(type="checkbox").rate-buttons__input.js-rate-button__input
      .rate-buttons__star
        svg.rate-buttons__svg(role="image" aria-label="rate-star")
          use(xlink:href="#star_border").rate-buttons__star
        svg.rate-buttons__svg.rate-buttons__svg_hidden(role="image" aria-label="rate-star")
          use(xlink:href="#star").rate-buttons__star