.rate-buttons {
  display: flex;

  &__label {
    display: flex;

    &:focus {
      outline: 2px solid $primary-color;
    }
  }
  &__input {
    display: none;
  }
  &__input:checked + &__star &__svg {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__input:checked + &__star &__svg:last-child {
    opacity: 1;
    width: 24px;
    height: 24px;
  }
  &__svg {
    width: 24px;
    height: 24px;
    &:last-child {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}
