mixin circle-diagram()
  .circle-diagram
    .circle-diagram__container
      .circle-diagram__voices
        i 
          | 260 
        | голосов
      canvas(id="CircleDiagram")
    ul.circle-diagram__list
      li.circle-diagram__list-item
        | Великолепно
      li.circle-diagram__list-item
        | Хорошо  
      li.circle-diagram__list-item
        | Удовлетворительно  
      li.circle-diagram__list-item
        | Разочарован  