.circle-diagram {
  display: flex;
  align-items: flex-end;
  @media (max-width: $tableWidth) {
    display: block;
  }
  &__container {
    width: rem(135);
    height: rem(135);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__voices {
    position: absolute;
    white-space: pre-wrap;
    text-align: center;
    max-width: rem(70);
    max-height: rem(35);
    font-size: rem(16);
    line-height: rem(15);
    color: $purple;
    @include MontBold;
    i {
      font-size: rem(24);
      line-height: rem(29);
      font-style: normal;
    }
  }
  &__list {
    display: block;
    max-width: rem(180);
    margin-left: rem(20);
    font-size: rem(14);
    line-height: rem(24);
    color: $ds75;
  }
  &__list-item {
    display: flex;
    align-items: flex-start;
    white-space: pre-wrap;
    &:first-child {
      &:before {
        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
      }
    }
    &:nth-child(2) {
      &:before {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }
    }
    &:nth-child(3) {
      &:before {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
    }
    &:nth-child(4) {
      &:before {
        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      }
    }
    &:before {
      content: '';
      display: block;
      max-width: rem(10);
      min-width: rem(10);
      min-height: rem(10);
      max-height: rem(10);
      border-radius: 50%;
      margin-right: rem(5);
      margin-top: rem(5);
    }
  }
}
