.simple-pagination {
  padding: 0;
  margin-bottom: rem(10);
}
.pagination.simple-pagination {
  padding: 0;
  margin: 0;
  margin-bottom: rem(10);
}
.pagination__arrow-forward {
  width: rem(18);
  height: rem(18);
}
.pagination-wrap__text {
  max-width: rem(320);
  margin: 0 auto;
  font-size: rem(14);
  color: $ds75;
}
.pagination-container {
  display: inline-block;
  margin: 0 auto;
}
ul.simple-pagination {
  list-style: none;
}

.simple-pagination {
  overflow: hidden;
  padding: 0 rem(5) rem(5) 0;
  margin: 0;
  max-width: rem(320);
  user-select: none;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    @include Mont;
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: rem(40);
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:last-child {
      background: $greenGr;
      svg {
        fill: $white;
      }
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
  a {
    font-size: rem(12);
    color: $ds50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .active {
    border-radius: 50%;
    background: $purpleGr;
    color: $white;
    @include MontBold;
    font-size: rem(12);
  }

  .disabled {
    opacity: 0.5;
  }
  span.ellipse.clickable {
    cursor: pointer;
  }
  .ellipse {
    font-size: rem(12);
  }
  .ellipse input {
    width: 3em;
  }
}
