@import '~utils/scss/main.scss';
@import '~components/button/button';
@import '~components/card-sign-in/card-sign-in';

.sign-in {
  background-image: url('./images/landing-page-bg-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-size: cover;

  &__container {
    @include container;
  }

  &__main {
    padding: 171px 0 173px 0;
    display: flex;
    justify-content: center;
  }
}
