extends ../template

include ~components/header/header
include ~components/footer/footer
include ~components/card-sign-in/card-sign-in

block head
  title Вход | Toxin
  meta(name="description" content="Отель, авторизация в сервисе Toxin")
  meta(name="keywords" content="Отель, Toxin, вход в аккаунт, вход в личный кабинет, авторизация")
block content
  +header()
  .content
    .sign-in
      .sign-in__container
        main.sign-in__main
          +card-sign-in()
  
  +footer()
