mixin radio-buttons({title}) 
  .radio-buttons
    span.block-title.block-title_margin-b-16 #{title}
    .radio-buttons__inputs
      label
        input(type="radio" name="radio")
        span.radio-buttons__checkmark
        span.radio-buttons__text Мужчина
      label
        input(type="radio" name="radio")
        span.radio-buttons__checkmark
        span.radio-buttons__text Женщина
