mixin radio-buttons({title}) 
  .radio-buttons
    .radio-buttons__inputs
      label
        input(type="radio" name="radio")
        span.radio-buttons__checkmark
        span.radio-buttons__text Мужчина
      label
        input(type="radio" name="radio")
        span.radio-buttons__checkmark
        span.radio-buttons__text Женщина
