.radio-buttons {
  $self: &;
  user-select: none;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: rem(14);
  &:last-child {
    margin-right: 0;
  }
  &__label {
    display: inline-flex;
    align-items: center;
    margin-right: rem(20);
    &:last-child {
      margin-right: 0;
    }
  }
  &__title {
    text-transform: uppercase;
    font-family: 'MontserratBold', Arial, sans-serif;
    font-size: rem(12);
    color: $ds100;
  }
  &__input {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    &:checked ~ #{$self}__checkmark {
      border-color: $purple;
      &:after {
        opacity: 1;
      }
    }
    &:checked ~ label {
      color: $ds100;
    }
    &:checked ~ #{$self}__text {
      color: $ds75;
    }
  }
  &__checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(20);
    width: rem(20);
    background-color: #fff;
    border: rem(1) solid $ds25;
    border-radius: 50%;
    margin-right: rem(10);
    &:focus {
      border: $borderHover;
    }
    &:after {
      content: '';
      display: block;
      opacity: 0;
      width: rem(12);
      height: rem(12);
      border-radius: 50%;
      background: $purpleGr;
      transition: $trFast;
    }
  }
  &__text {
    color: $ds50;
  }
}
