.card-selection {
  background-color: $white;
  box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.2);
  border-radius: rem(4);
  border: rem(1) solid rgba(0, 0, 0, 0.12);
  max-width: rem(380);
  width: 100%;
  @media (max-width: $phoneWidth) {
    max-width: 100%;
    margin: 0 auto;
  }
  &__content {
    padding: rem(40) rem(30) rem(30);
    @media (max-width: $phoneWidth) {
      max-width: rem(320);
    }
  }
  &__title {
    @include MontBold;
    font-size: rem(24);
    line-height: rem(29);
    text-transform: initial;
    display: inline-block;
    margin-bottom: rem(20);
  }
  &__block {
    &_margin-b-15 {
      margin-bottom: rem(15);
    }
    &_margin-b-30 {
      margin-bottom: rem(30);
    }
  }
}
