.like-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38px;
  height: 18px;
  min-width: 38px;
  min-height: 18px;
  font-family: $font-family-primary;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  transition: $tr-fast;
  user-select: none;

  &:after {
    content: '';
    position: absolute;
    left: -1px;
    display: block;
    min-width: 40px;
    min-height: 20px;
    z-index: -1;
    border-radius: 12px;
    background-color: $text-color-brightness-25;
    transition: $tr-fast;
  }
  &__like {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 4px;
    transition: $tr-fast;
  }
  &__like-favorite {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 4px;
    transition: $tr-fast;
    opacity: 0;
  }
  &__likes {
    font-size: 12px;
    color: $text-color-brightness-25;
    position: absolute;
    right: 9px;
    transition: $tr-fast;
  }
  &_active {
    svg {
      transform: rotateZ(-360deg);
      animation-duration: $tr-fast;
      animation-name: changeSize;
      fill: $primary-color;
    }
    span {
      color: $primary-color;
    }
    &:after {
      background: $button-color-primary;
      transition: $tr-fast;
    }
  }
}

@keyframes changeSize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
