.like-button {
  position: relative;
  $self: &;

  padding: 0 10px 0 7px;
  display: inline-flex;
  min-height: 20px;
  justify-content: flex-end;
  align-items: center;
  font-family: $font-family-primary;
  background-color: #fff;
  border: 1px solid $text-color-brightness-25;
  border-radius: 10px;
  transition: $tr-fast;
  cursor: pointer;
  user-select: none;

  &__like {
    position: absolute;
    left: 5px;
    width: 10px;
    height: 10px;
    transition: $tr-fast;
  }

  &__like-favorite {
    position: absolute;
    left: 5px;
    width: 10px;
    height: 10px;
    opacity: 0;
    transition: $tr-fast;
  }

  &__likes {
    margin-left: 15px;
    display: inline-block;
    max-width: 70%;
    font-size: 12px;
    line-height: normal;
    color: $text-color-brightness-25;
    transition: transform $tr-fast;
    overflow-wrap: break-word;
  }

  &_active {
    &::after {
      background: $button-color-primary;
      transition: $tr-fast;
    }

    #{$self}__like {
      opacity: 0;
    }

    #{$self}__like-favorite {
      opacity: 1;
      transform: rotateZ(-360deg);
      animation-name: changeSize;
      animation-duration: $tr-fast;
      fill: $primary-color;
    }

    #{$self}__likes {
      color: $primary-color;
    }
  }
}

@keyframes changeSize {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}
