.like-button {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  width: 38px;
  max-width: 38px;
  justify-content: flex-end;
  align-items: center;
  font-family: $font-family-primary;
  background-color: #fff;
  border-radius: 10px;
  transition: $tr-fast;
  cursor: pointer;
  user-select: none;
  border: 1px solid $text-color-brightness-25;
  padding: 0 5px 0 7px;

  &__like {
    width: 10px;
    height: 10px;
    left: 5px;
    transition: $tr-fast;
    position: absolute;
  }

  &__like-favorite {
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    opacity: 0;
    transition: $tr-fast;
    left: 5px;
  }

  &__likes {
    display: inline-block;
    max-width: 70%;
    font-size: 12px;
    overflow-wrap: break-word;
    line-height: normal;
    color: $text-color-brightness-25;
    transition: $tr-fast;
  }

  &_active {
    svg {
      transform: rotateZ(-360deg);
      animation-name: changeSize;
      animation-duration: $tr-fast;
      fill: $primary-color;
    }

    span {
      color: $primary-color;
    }

    &::after {
      background: $button-color-primary;
      transition: $tr-fast;
    }
  }
}

@keyframes changeSize {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}
