mixin checkbox(title,className,uldrop, ...subtitle)
	.checkbox-wrapper(class=className)
		.checkbox-wrapper__head
			span.title-element.title-element_margin-b #{title}
			svg.expand-more.icon-dropdown
				use(xlink:href="#expand_more")
		ul.checkbox-wrapper__ul(class=uldrop)
			each sub in subtitle
				+checkbox-item(sub,description)
		