mixin radio-button() 
	.radio-wrapper
		label.radio
			input(type="radio" name="radio")
			span.radio__checkmark
			span.radio__text Мужчина
		label.radio
			input(type="radio" name="radio")
			span.radio__checkmark
			span.radio__text Женщина
