.filter-page {
  &__main {
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);
  }
  &__content {
    padding: rem(30) 0 rem(70);
    display: flex;
    @media (max-width: $smDesktopWidth) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__form {
    max-width: 266px;
    margin-right: rem(60);
  }
  &__form-input {
    min-width: 100%;
  }
  &__form-block {
    &_margin-20 {
      margin-bottom: rem(15);
    }
    &_margin-30 {
      margin-bottom: rem(28);
    }
  }
  &__range-description {
    padding-top: rem(10);
    font-size: rem(12);
    line-height: rem(14);
    color: $ds50;
  }
  &__rooms-title {
    @include MontBold;
    font-size: rem(24);
    line-height: rem(29);
    margin-bottom: rem(20);
  }
  &__rooms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: rem(20);
    grid-column-gap: rem(12);
    @media (max-width: $desktopWidth) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: $mdDesktopWidth) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $smDesktopWidth) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $phoneWidth) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__rooms-container {
    text-align: center;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin: rem(40) 0 rem(70);
  }
}
