@import './vars.scss';
@import './mixins.scss';

.button {
  display: inline-block;
  padding: 15px 20px;
  background: $purpleGr;
  border-radius: 22px;
  color: $white;
  text-transform: uppercase;
  @include MontBold;
  font-size: 12px;
  transition: $trFast;
  cursor: pointer;
  line-height: 1;
  @media (max-width: $phoneWidth) {
    font-size: 10px;
  }
  &:hover {
    opacity: 0.5;
  }
  &_subscribe {
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    padding: 0;
    border-radius: none;
  }
  &_big {
    position: relative;
    width: 100%;
    max-width: 320px;
    overflow: hidden;
    &:hover {
      opacity: 0.9;
    }
    &:after {
      content: '';
      display: block;
      background-image: url('assets/img/arrow-forward.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 10px;
      top: 0;
      width: 20px;

      min-height: 100%;
    }
  }
  &_white {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 10;
    transition: $trFast;
    color: $purple;
    font-size: 12px;
    background: none;
    @media (max-width: $phoneWidth) {
      font-size: 10px;
    }
    &:before {
      content: '';
      position: absolute;
      background: $purple;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
      border-radius: 22px;
      transition: $trFast;
    }
    &:after {
      content: '';
      position: absolute;
      left: 2px;
      right: 2px;
      bottom: 2px;
      top: 2px;
      z-index: -1;
      border-radius: 22px;
      background: $white;
      transition: $trFast;
    }
    &:hover {
      opacity: 1;
      &:before {
        opacity: 0.5;
      }
    }
  }
  &_no-bg {
    background: none;
    padding: 0;
    border-radius: 0;
    color: $purple;
    &:hover {
      opacity: 1;
      color: $ds50;
    }
  }
  &_no-bg-grey {
    color: $ds50;
    &:hover {
      color: $ds50;
      background: none;
    }
  }
  &_margin-r {
    margin-bottom: 19px;
  }
}
