@import './vars.scss';

.button {
  padding: 15px 20px;
  display: inline-block;
  max-width: 210px;
  font-family: $font-family-primary;
  font-size: 12px;
  line-height: 1;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $button-text-color-primary;
  background: $button-color-primary;
  border-radius: 22px;
  border: none;
  transition: $tr-fast;
  cursor: pointer;
  overflow-wrap: break-word;
  text-decoration: none;

  @media screen and (min-width: $sm-desktop-width) and (max-width: $md-desktop-width) {
    max-width: 140px;
  }

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: $phone-width) {
    font-size: 10px;
  }

  &_subscribe {
    display: inline-block;
    width: 46px;
    height: 45px;
    background-color: transparent;
    background-image: url('~img/arrow-forward-colored.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 0;
    border: none;
  }

  &_with-icon {
    padding-right: 40px;
    padding-left: 40px;
  }

  &_big {
    position: relative;
    width: 100%;
    max-width: 320px;

    &::after {
      position: absolute;
      top: 0;
      right: 10px;
      display: block;
      width: 20px;
      min-height: 100%;
      content: '';
      background-image: url('~img/arrow-forward.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &_bigger {
    padding: 15px 26px;
  }

  &_white {
    position: relative;
    z-index: 10;
    max-width: 150px;
    font-size: 12px;
    color: $button-text-color-secondary;
    background: none;
    transition: $tr-fast;
    cursor: pointer;

    @media (max-width: $phone-width) {
      font-size: 10px;
    }

    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: $button-color-primary;
      border-radius: 22px;
      transition: $tr-fast;
    }

    &::after {
      position: absolute;
      z-index: -1;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      content: '';
      background: #fff;
      border-radius: 22px;
      transition: $tr-fast;
    }

    &:hover {
      opacity: 1;

      &::before {
        opacity: 0.5;
      }
    }
  }

  &_small {
    padding: 10px 20px;

    @media screen and (min-width: $sm-desktop-width) and (max-width: $md-desktop-width) {
      padding: 5px 10px;
      display: flex;
      align-items: center;
      font-size: 9px;
    }
  }

  &_no-bg {
    padding: 0;
    color: $button-text-color-secondary;
    background: none;
    border-radius: 0;

    &:hover {
      opacity: 1;
      color: $text-color-brightness-50;
    }
  }

  &_hidden {
    visibility: hidden;
  }
}
