.button {
  display: inline-block;
  padding: rem(15) rem(20);
  background: $purpleGr;
  border-radius: rem(22);
  color: $white;
  text-transform: uppercase;
  @include MontBold;
  font-size: rem(12);
  transition: $trFast;
  cursor: pointer;
  line-height: 1;
  &:hover {
    opacity: 0.5;
  }
  &:focus {
    border: $borderHover;
  }
  &_subscribe {
    position: absolute;
    right: 0;
    top: calc(50% - 0.556rem);
    padding: 0;
    border-radius: none;
  }
  &_big {
    position: relative;
    width: 100%;
    max-width: rem(320);
    overflow: hidden;
    &:hover {
      opacity: 0.9;
    }
    &:after {
      content: '';
      display: block;
      background-image: url('assets/img/arrow-forward.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: rem(10);
      top: 0;
      width: rem(20);
      min-height: 100%;
    }
  }
  &_white {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 10;
    transition: $trFast;
    color: $purple;
    border: none;
    font-size: rem(12);
    background: none;
    &:before {
      content: '';
      position: absolute;
      background: $purple;
      left: rem(0);
      right: rem(0);
      bottom: rem(0);
      top: rem(0);
      z-index: -1;
      border-radius: rem(22);
      transition: $trFast;
    }
    &:after {
      content: '';
      position: absolute;
      left: rem(2);
      right: rem(2);
      bottom: rem(2);
      top: rem(2);
      z-index: -1;
      border-radius: rem(22);
      background: $white;
      transition: $trFast;
    }
    &:hover {
      opacity: 1;
      &:before {
        opacity: 0.5;
      }
    }
  }
  &_no-bg {
    background: none;
    padding: 0;
    border-radius: 0;
    color: $purple;
    &:hover {
      opacity: 1;
      color: $ds50;
    }
  }
  &_no-bg-grey {
    color: $ds50;
    &:hover {
      color: $ds50;
      background: none;
    }
  }
  &_margin-r {
    margin-right: rem(19);
  }
}
