// font-size
$mainFontSize: 18px;
// font-weight

$normal: 400;
$bold: 700;

// line-height
$mainLineHeight: 1.4;

// media size

$desktopWidth: 1440px;
$mdDesktopWidth: 1160px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$danger-color: #fc5c65;
$warningColor: #fed330;

$ds100: #1f2041;
$ds75: rgba(31, 32, 65, 0.75);
$ds50: rgba(31, 32, 65, 0.5);
$ds25: rgba(31, 32, 65, 0.25);
$ds5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$bodyColor: #e5e5e5;
$white: #ffffff;

// box-shadow

$bs-2: 0px 10px 20px rgba(31, 32, 65, 0.05);

// transition

$trFast: 0.25s;
$trMid: 0.5s;

// gradients

$purpleGr: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$purpleGr-hover: linear-gradient(180deg, #bc9cff 0%, #bc9cff 100%);
$greenGr: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

$border: 1px solid rgba(31, 32, 65, 0.25);
$borderHover: 1px solid rgba(31, 32, 65, 0.5);
