@import '~components/date-dropdown/date-dropdown';
@import '~components/datepicker/datepicker';
@import '~components/dropdown-choose/dropdown-choose';

.card-book {
  width: 380px;
  background-color: $bg-color-primary;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  @media (max-width: $phone-width) {
    min-width: 300px;
  }

  &__content {
    padding: 40px 28px 30px;

    @media (max-width: $phone-width) {
      padding: 30px 20px 30px;
    }
  }

  &__info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: $font-family-primary;
    line-height: 17px;
    font-weight: $font-weight-bold;

    @media (max-width: $phone-width) {
      margin-bottom: 15px;
      line-height: 13px;
    }
  }

  &__room-number {
    max-width: 50%;
    font-size: 14px;
    overflow-wrap: break-word;

    @media (max-width: $phone-width) {
      font-size: 12px;
    }
  }

  &__num-sign {
    margin-right: 7px;
    font-size: 24px;
    line-height: 30px;
    overflow-wrap: break-word;

    @media (max-width: $phone-width) {
      font-size: 20px;
      line-height: 15px;
    }
  }

  &__type {
    font-size: 14px;
    line-height: 15px;
    color: $primary-color;
    overflow-wrap: break-word;

    @media (max-width: $phone-width) {
      font-size: 12px;
    }
  }

  &__price-wrapper {
    display: inline-block;
    max-width: 50%;
    font-family: $font-family-primary;
    font-size: 12px;
    line-height: 18px;
    color: $text-color-brightness-50;
    overflow-wrap: break-word;

    @media (max-width: $phone-width) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__price {
    font-family: $font-family-primary;
    font-size: 14px;
    font-weight: $font-weight-bold;

    @media (max-width: $phone-width) {
      font-size: 12px;
    }
  }

  &__block {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }

  &__calculation {
    margin-bottom: 45px;
    font-size: 14px;
    color: $text-color-brightness-75;

    @media (max-width: $phone-width) {
      margin-bottom: 20px;
      font-size: 12px;
    }
  }

  &__calc-item {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    line-height: 24px;
    white-space: pre;

    @media (max-width: $phone-width) {
      margin-bottom: 5px;
      line-height: 20px;
    }
  }

  &__price-for-one-day {
    display: inline-block;
    max-width: 160px;
    white-space: pre-line;
  }

  &__tax {
    margin-left: auto;
    display: block;
  }

  &__calc-info {
    margin-bottom: 6px;
    margin-left: 10px;
    display: flex;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;
    justify-content: center;
    align-items: center;
    color: $text-color-brightness-25;
    border: 1px solid $text-color-brightness-25;
    border-radius: 50%;

    @media (max-width: $phone-width) {
      margin-left: 3px;
    }
  }

  &__calc-sum {
    margin-left: auto;
  }

  &__calc-option {
    display: inline-block;
    max-width: 214px;
    white-space: pre-line;
  }

  &__calc-total {
    margin-bottom: 25px;
    display: flex;
    align-items: baseline;
    font-family: $font-family-primary;
    line-height: 12px;
    font-weight: $font-weight-bold;
  }

  &__line {
    margin-right: 5px;
    margin-left: 5px;
    display: block;
    width: 100%;
    max-width: 70%;
    border-bottom: 1px dotted $text-color-brightness-50;
  }

  &__total {
    display: inline-block;
    max-width: 50%;
    line-height: 17px;
    overflow-wrap: break-word;
  }

  &__total-price {
    margin-left: auto;
    white-space: nowrap;
  }
}
