.card-book {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 380px;
  min-width: 380px;
  @media (max-width: $phoneWidth) {
    min-width: 300px;
  }
  &__content {
    padding: 40px 30px 40px;
    @media (max-width: $phoneWidth) {
      padding: 30px 20px 30px;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include MontBold;
    margin-bottom: 20px;
    line-height: 17px;
    @media (max-width: $phoneWidth) {
      margin-bottom: 15px;
      line-height: 13px;
    }
  }
  &__block {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__number {
    font-size: 14px;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
    }
  }
  &__head-num {
    font-size: 24px;
    line-height: 30px;
    @media (max-width: $phoneWidth) {
      font-size: 20px;
      line-height: 15px;
    }
  }
  &__type {
    font-size: 14px;
    line-height: 15px;
    color: $purple;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
    }
  }
  &__head-price {
    @include Mont;
    font-size: 12px;
    color: $ds50;
    line-height: 18px;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
      line-height: 15px;
    }
  }
  &__head-sum {
    font-size: 14px;
    @include MontBold;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
    }
  }
  &__calculation {
    font-size: 14px;
    color: $ds75;
    margin-bottom: 25px;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
  &__calc-item {
    display: flex;
    align-items: flex-start;
    white-space: pre;
    margin-bottom: 10px;
    line-height: 24px;
    @media (max-width: $phoneWidth) {
      margin-bottom: 5px;
      line-height: 20px;
    }
  }
  &__calc-info {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    border: 1px solid $ds25;

    border-radius: 50%;
    color: $ds25;
    @media (max-width: $phoneWidth) {
      margin-left: 3px;
    }
  }
  &__tax {
    display: block;
    margin-left: auto;
  }
  &__calc-sum {
    margin-left: auto;
  }
  &__calc-total {
    line-height: 12px;
    display: flex;
  }
  &__dotted-line {
    display: block;
    width: 100%;
    max-width: 70%;
    border-bottom: 1px dotted $ds50;
    margin-left: 5px;
    margin-right: 5px;
  }
  &__calc-total {
    @include MontBold;
    margin-bottom: 25px;
  }
  &__total-price {
    margin-left: auto;
    white-space: nowrap;
  }
}
