.card-book {
  background-color: $bg-color-primary;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 380px;
  min-width: 380px;
  @media (max-width: $phone-width) {
    min-width: 300px;
  }
  &__content {
    padding: 40px 28px 40px;
    @media (max-width: $phone-width) {
      padding: 30px 20px 30px;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: $font-family-primary;
    font-weight: $bold;
    margin-bottom: 20px;
    line-height: 17px;
    @media (max-width: $phone-width) {
      margin-bottom: 15px;
      line-height: 13px;
    }
  }
  &__block {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__number {
    font-size: 14px;
    @media (max-width: $phone-width) {
      font-size: 12px;
    }
  }
  &__head-num {
    font-size: 24px;
    line-height: 30px;
    display: inline-block;
    margin-right: 7px;
    @media (max-width: $phone-width) {
      font-size: 20px;
      line-height: 15px;
    }
  }
  &__type {
    font-size: 14px;
    line-height: 15px;
    color: $primary-color;
    @media (max-width: $phone-width) {
      font-size: 12px;
    }
  }
  &__head-price {
    font-family: $font-family-primary;
    font-size: 12px;
    color: $text-color-brightness-50;
    line-height: 18px;
    @media (max-width: $phone-width) {
      font-size: 12px;
      line-height: 15px;
    }
  }
  &__head-sum {
    font-size: 14px;
    font-family: $font-family-primary;
    font-weight: $bold;
    @media (max-width: $phone-width) {
      font-size: 12px;
    }
  }
  &__calculation {
    font-size: 14px;
    color: $text-color-brightness-75;
    margin-bottom: 50px;
    @media (max-width: $phone-width) {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
  &__calc-item {
    display: flex;
    align-items: flex-start;
    white-space: pre;
    margin-bottom: 10px;
    line-height: 24px;
    @media (max-width: $phone-width) {
      margin-bottom: 5px;
      line-height: 20px;
    }
  }
  &__calc-info {
    margin-left: 10px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    border: 1px solid $text-color-brightness-25;

    border-radius: 50%;
    color: $text-color-brightness-25;
    @media (max-width: $phone-width) {
      margin-left: 3px;
    }
  }
  &__tax {
    display: block;
    margin-left: auto;
  }
  &__calc-sum {
    margin-left: auto;
  }
  &__calc-total {
    line-height: 12px;
    display: flex;
  }
  &__dotted-line {
    display: block;
    width: 100%;
    max-width: 70%;
    border-bottom: 1px dotted $text-color-brightness-50;
    margin-left: 5px;
    margin-right: 5px;
  }
  &__calc-total {
    font-family: $font-family-primary;
    font-weight: $bold;
    margin-bottom: 25px;
  }
  &__total-price {
    margin-left: auto;
    white-space: nowrap;
  }
}
