@import '~air-datepicker/dist/css/datepicker.min.css';
@import '~utils/scss/vars.scss';
@import '~utils/scss/fonts.scss';
@import '~utils/scss/main.scss';
@import '~components/filter-date/filter-date';
@import '~components/dropdown-choose/dropdown-choose';
@import '~components/datepicker/datepicker';
@import '~components/card-room/card-room';
@import '~components/range-slider/range-slider';
@import '~components/checkbox/checkbox';
@import '~components/pagination/pagination';

.filter {
  flex: 1 0 auto;
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);

  &__container {
    @include container;
  }

  &__content {
    padding-top: 30px;
    display: flex;
    justify-content: center;

    @media (max-width: $sm-desktop-width) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__form {
    margin-right: 5%;
    max-width: 266px;

    @media screen and (max-width: $phone-width) {
      margin-right: 0;
    }
  }

  &__form-input {
    min-width: 100%;
  }

  &__dates {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  &__guests {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  &__price {
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
  }

  &__availability {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  &__rules {
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
  }

  &__comfort {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  &__additional-comfort {
    @media screen and (max-width: $sm-desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__range-description {
    margin-top: 15px;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: $text-color-brightness-50;

    @media (max-width: $phone-width) {
      font-size: 10px;
    }
  }

  &__rooms-title {
    margin: 0;
    margin-bottom: 20px;
    max-width: 530px;
    font-family: $font-family-primary;
    font-size: 24px;
    line-height: 29px;
    font-weight: $font-weight-bold;

    @media (max-width: $phone-width) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__rooms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 22px;
    grid-column-gap: 12px;

    @media (max-width: $md-desktop-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $sm-desktop-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $table-width) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__rooms-container {
    @media (max-width: $phone-width) {
      text-align: center;
    }
  }

  &__pagination {
    margin: 40px 0 70px;
    display: flex;
    justify-content: center;
  }

  &__pagination-wrapper {
    margin-right: 13px;
  }
}
