.subscription {
  display: block;
  position: relative;

  &__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__input {
    padding: 12px 40px 12px 15px;
    display: block;
    width: 100%;
    font-family: $font-family-primary;
    font-size: 14px;
    color: $text-color-brightness-75;
    border: $border-input;
    border-radius: 4px;
    transition: $tr-fast;

    &::placeholder {
      font-size: 14px;
      color: $text-color-brightness-25;
      transition: $tr-fast;
    }

    &:focus {
      border: $border-input-hover;
      outline: none;

      &::placeholder {
        color: $text-color-brightness-75;
      }
    }
  }

  &:hover & {
    &__input {
      border: $border-input-hover;

      &::placeholder {
        color: $text-color-brightness-75;
      }
    }
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 46px;
    height: 45px;
    background-color: transparent;
    background-image: url('~img/arrow-forward-colored.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}
