.subscription {
  display: block;
  max-width: 320px;
  &:hover & {
    &__input {
      border: $borderHover;
      &::placeholder {
        color: $ds75;
      }
    }
  }
  &__input {
    display: block;
    width: 100%;
    max-width: 266px;
    border: $border;
    border-radius: 4px;
    transition: $trFast;
    padding: 12px 40px 12px 15px;
    font-size: 14px;
    color: $ds75;
    @include MontMedium;
    background-image: url('./assets/img/arrow-forward.jpg');
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 50%;
    &::placeholder {
      font-size: 14px;
      color: $ds25;
      transition: $trFast;
    }
    &:focus {
      outline: none;
      border: $borderHover;
      &::placeholder {
        color: $ds75;
      }
    }
  }
}
