include ~components/text-field/text-field
include ~components/masked-text-field/masked-text-field
include ~components/toggle-buttons/toggle-buttons
include ~components/checkbox/checkbox
include ~components/radio/radio
include ~components/button/button

mixin card-check-in()
  .card-check-in
    .card-check-in__content
      form.card-check-in__form
        legend.card-check-in__form-legend
          h1.card-check-in__title
            | Регистрация аккаунта
        .card-check-in__name
          +text-field(
                    {
                      title: "", 
                      placeholder: "Имя", 
                      type: "text",
                      name: "name-input",
                      required: true,
                      pat: "[A-Za-zА-Яа-яЁё]{3,}"
                    }
                  )
        .card-check-in__surname
          +text-field(
                    {
                      title: "", 
                      placeholder: "Фамилия", 
                      type: "text",
                      name: "surname-input",
                      required: true,
                      pat: "[A-Za-zА-Яа-яЁё]{3,}"
                    }
                  )
        .card-check-in__gender
          +radio({ items: [{
            title: 'Мужчина',
            checked: true
          },
          {
            title: 'Женщина',
          }
          ]})
        .card-check-in__birthday
          +masked-text-field(
                  {
                    title: "Дата рождения",
                    placeholder: "ДД.ММ.ГГГГ", 
                    type: "text",
                    name: "birthday-input"
                  }
                )
        .card-check-in__email
          +text-field(
                  {
                    title: "Данные для входа в сервис", 
                    placeholder: "Email", 
                    type: "email",
                    name: "email-input",
                    required: true,
                  }
                )
        .card-check-in__password
          +text-field(
                  {
                    title: "", 
                    placeholder: "Пароль", 
                    type: "password",
                    name: "password-input",
                    required: true,
                  }
                )
        .card-check-in__offer
          +checkbox({type: 'oval', items: ['Получать спецпредложения']})
        .card-check-in__button
          +button({
            type: 'submit',
            modifiers: 'button_big button_with-icon',
            text: 'Зарегистрироваться'
          })
        .card-check-in__sign-in 
          span.card-check-in__sign-in-text
            | Уже есть аккаунт на Toxin
          +button({
            href: 'sign-in.html',
            modifiers: 'button_white button_bigger',
            text: 'Войти'
          })
