.card-check-in {
  margin-left: 5px;
  width: 100%;
  max-width: 380px;
  background-color: $bg-color-primary;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: $md-desktop-width) {
    margin-left: 0;
  }

  &__content {
    padding: 40px 30px 30px 30px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: $font-family-primary;
    font-size: 24px;
    line-height: 29px;
    font-weight: $bold;

    @media (max-width: $phone-width) {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__name {
    margin-bottom: 10px;
  }

  &__surname {
    margin-bottom: 10px;
  }

  &__gender {
    margin-bottom: 18px;
  }

  &__birthday {
    margin-bottom: 14px;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__password {
    margin-bottom: 10px;
  }

  &__offer {
    margin-bottom: 20px;
  }

  &__button {
    margin-bottom: 32px;
  }

  &__sign-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sign-in-text {
    font-size: 14px;

    @media (max-width: $phone-width) {
      font-size: 12px;
    }
  }
}
