extends ../main

include ../../components/header/header
include ../../components/footer/footer
include ../../components/subscription/subscription
include ../../components/textField/textField
include ../../components/radio-buttons/radio-buttons
include ../../components/date-dropdown/date-dropdown
include ../../components/dropdown-choose/dropdown-choose
include ../../components/filter-date/filter-date
include ../../components/range-slider/range-slider
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/rich-list/rich-list
include ../../components/expand-list/expand-list
include ../../components/card-room/card-room
include ../../components/rate-buttons/rate-buttons
include ../../components/pagination/pagination
block head
  link(rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png")
  link(rel="manifest" href="assets/favicons/site.webmanifest")

block content
  +header({isEntered: false})
  .content
    .filter-page
      main.filter-page__main
        .container
          .filter-page__content
            form.filter-page__form
              .filter-page__form-block.filter-page__form-block_margin-20
                span.block-title
                  | Даты пребывания в отеле
                +filter-date({className: "", title: "Даты пребывания в отеле"})
              .filter-page__form-block.filter-page__form-block_margin-30
                span.block-title
                  | Гости
                +dropdown-choose({className: "js-dropdown-guests", title: "Гости"})
              .filter-page__form-block.filter-page__form-block_margin-25
                +range-slider({title: "Диапазон цены", interval: "5000₽ - 10000₽"})
                span.filter-page__range-description
                  | Стоимость за сутки пребывания в номере
              .filter-page__form-block.filter-page__form-block_margin-25
                +checkbox-buttons({
                  title: "Правила дома",
                  items: [
                    "Можно курить",
                    "Можно с питомцами",
                    "Можно пригласить гостей (до 10 человек)",
                  ]})
              .filter-page__form-block.filter-page__form-block_margin-30
                +rich-list({
                  title: "Доступность",
                  items: [
                    {
                      title: "Широкий коридор",
                      description: "Ширина коридоров в номере не менее 91 см."
                    },
                    {
                      title: "Помощник для инвалидов",
                      description: "На 1 этаже вас встретит специалист и проводит до номера."
                    }
                  ]})
              .filter-page__form-block.filter-page__form-block_margin-30
                span.block-title
                  | Удобства номера
                +dropdown-choose({className: "js-dropdown-beds", title: "Гости"})
              .filter-page__form-block.filter-page__form-block_margin-30
                +expand-list({
                 title: "Дополнительные удобства",
                 className: "js-expand-list",
                 items: [
                  "Завтрак",
                  "Письменный стол",
                  "Стул для кормления",
                  "Кроватка",
                  "Телевизор",
                  "Шампунь",
                ]
               })

            .filter-page__rooms-container
              h1.filter-page__rooms-title
                | Номера, которые мы для вас подобрали
              .filter-page__rooms
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    type: "люкс",
                    number: 888,
                    priceForOneDay: "9 990",
                    reviews: 145,
                    rate: 5
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    number: 840,
                    priceForOneDay: "9 990",
                    reviews: 145,
                    rate: 4
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    type: "люкс",
                    number: 980,
                    priceForOneDay: "8 500",
                    reviews: 145,
                    rate: 3
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    number: 856,
                    priceForOneDay: "7 300",
                    reviews: 145,
                    rate: 5
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    number: 740,
                    priceForOneDay: "6 000",
                    reviews: 145,
                    rate: 4
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    number: 982,
                    priceForOneDay: "5 800",
                    reviews: 145,
                    rate: 3
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    number: 678,
                    priceForOneDay: "5 500",
                    reviews: 145,
                    rate: 5
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    number: 450,
                    priceForOneDay: "5 300",
                    reviews: 145,
                    rate: 4
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    number: 350,
                    priceForOneDay: "5 000",
                    reviews: 145,
                    rate: 3
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    number: 666,
                    priceForOneDay: "5 000",
                    reviews: 145,
                    rate: 5
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    number: 444,
                    priceForOneDay: "5 000",
                    reviews: 145,
                    rate: 3
                  })
                 +card-room([
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"},
                  {src: "room-2.jpg"}
                  ],
                  {
                    number: 352,
                    priceForOneDay: "5 000",
                    reviews: 145,
                    rate: 3
                  })
              .filter-page__pagination
                +pagination()

  +footer()




block script
  script
