.advantages {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  &__li {
    display: block;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    position: relative;
    &:not(:first-child) {
      margin-top: 20px;
      @media (max-width: $phoneWidth) {
        margin-top: 10px;
      }
    }
    &:not(:last-child) {
      padding-bottom: 20px;
      @media (max-width: $phoneWidth) {
        padding-bottom: 10px;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &__svg {
    max-width: 38px;
    max-height: 38px;
    position: absolute;
    top: 5px;
  }
  &__text {
    display: inline-flex;
    flex-direction: column;
    line-height: 24px;
    white-space: pre-wrap;
    margin-left: 55px;
    max-width: 200px;
    @media (max-width: $phoneWidth) {
      line-height: 20px;
      margin-left: 45px;
    }
  }
  &__head {
    @include MontBold;
    font-size: 14px;
    display: inline-block;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
    }
  }
  &__description {
    @include Mont;
    font-size: 14px;
    color: $ds75;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
    }
  }
}
