mixin advantages({ items })
  .advantages
    ul.advantages__list 
      each val, index in items
        li.advantages__item
          svg.advantages__svg
            use(xlink:href=items[index].href)
          span.advantages__text
            span.advantages__head
              | #{items[index].title}
            span.advantages__description
              | #{items[index].description}