@import '~/ion-rangeslider/css/ion.rangeSlider.css';

.range-slider {
  max-width: 266px;

  &__head {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__values {
    overflow: hidden;
    min-width: 102px;
    max-width: 50%;
    font-size: 12px;
    text-overflow: ellipsis;
    color: $text-color-brightness-50;

    @media (max-width: $phone-width) {
      font-size: 10px;
    }
  }
}

.irs--round {
  max-width: 266px;
  height: 6px;
  cursor: pointer;
}

.irs--round .irs-line {
  top: 0;
  height: 6px;
  background-color: #fff;
  border: 1px solid $text-color-brightness-25;
}

.irs--round .irs-bar {
  top: 0;
  height: 6px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.irs--round .irs-handle {
  top: -4.5px;
  width: 15px;
  height: 15px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #fff;
  box-shadow: none;
  cursor: pointer;
}

.irs-from,
.irs-to,
.irs-single {
  overflow: hidden;
  width: 0;
  height: 0;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  padding: 0;
}
