extends ../template

include ~components/text-field/text-field.pug
include ~components/masked-text-field/masked-text-field.pug
include ~components/dropdown-choose/dropdown-choose.pug
include ~components/date-dropdown/date-dropdown.pug
include ~components/filter-date/filter-date.pug
include ~components/checkbox/checkbox.pug
include ~components/radio/radio.pug
include ~components/toggle-buttons/toggle-buttons.pug
include ~components/like-button/like-button
include ~components/rate/rate
include ~components/range-slider/range-slider
include ~components/pagination/pagination
include ~components/bullet-list/bullet-list
include ~components/advantages/advantages
include ~components/review/review
include ~components/card-room/card-room

block head
block content
  svg.logo.logo_gray(aria-label="toxin-logo")
    use(xlink:href="#logo-gray")
  main.form-elements
    .form-elements__container
        .row
          .form-elements__first-row
            .col
              +text-field(
                {
                  title: "text field", 
                  placeholder: "Email", 
                  type: "email", 
                  required: true
                }
              )
              +masked-text-field(
                {
                  title: "masked text field",
                  placeholder: "ДД.ММ.ГГГГ", 
                  type: "text", 
                  className: "js-date-masked"
                }
              )
              span.block-title dropdown
              +dropdown-choose({ className: "js-dropdown-guests", title:"dropdown" })
              +date-dropdown({classNameFirstInput: "js-date-masked js-date-dropdown__input", 
              classNameSecondInput: "js-date-masked",
              title: "date dropdown", 
              titleSecond: "date dropdown" })
              span.block-title filter date dropdown
              +filter-date({ className: "js-filter-date", title: "filter date dropdown" })
              span.block-title dropdown
              +dropdown-choose({ className: "js-dropdown-beds", title: "dropdown" })
              +checkbox({
                title: "expandable checkbox list",
                type: "dropping-out",
                items: [
                  "Завтрак",
                  "Письменный стол",
                  "Стул для кормления",
                  "Кроватка",
                  "Телевизор",
                  "Шампунь",
                ]
               })
            .col
              +checkbox({
                title: "checkbox buttons",
                items: [
                  "Можно курить",
                  "Можно с питомцами",
                  "Можно пригласить гостей (до 10 человек)",
                ]
                })
              span.block-title.block-title_margin-b-16 radio button
              +radio({items: [{
                  title: 'Мужчина',
                  checked: true
                },
                {
                  title: 'Женщина',
                }
              ]})
              span.block-title.block-title_margin-b-16 toggle
              +checkbox({ type: 'oval', items: ['Получать спецпредложения'] })
              .block-title.block-title_margin-b-16 like buttons
              +like-button({ className: "", count: 0 })
              .block-title.block-title_margin-b-16 rate button
              +rate({ rate: 3 })
              +checkbox({
                title: "rich checkbox buttons",
                items: [
                  {
                    title: "Широкий коридор",
                    description: "Ширина коридоров в номере не менее 91 см."
                  },
                  {
                    title: "Помощник для инвалидов",
                    description: "На 1 этаже вас встретит специалист  и проводит до номера."
                  }
                ],
                type: "detailed"
              })
            .col
              +range-slider({ title: "range slider", interval: "5000₽ - 10000₽" })
              .block-title.block-title_margin-b-16 buttons
              br
              a(href="/mock-address/").button click me
              br
              br 
              a(href="/mock-address/").button.button_white click me
              br
              br
              a(href="/mock-address/").button.button_no-bg click me
              br
              br
              button(type="submit").button.button_big перейти к оплате
              br
              .block-title.block-title_margin-b-16 pagination
              br
              +pagination()
              +bullet-list({
                title: "bullet list",
                items: [
                  "Нельзя с питомцами",
                  "Без вечеринок и мероприятий",
                  "Время прибытия — после 13:00, а выезд до 12:00",
                ]
              })
          .row
            .form-elements__last-row
              .col
                +advantages({items: [
                  {
                    title: "Комфорт",
                    description: "Шумопоглощающие стены",
                    href: "#insert-emoticon"
                  },
                  {
                    title: "Удобство",
                    description: "Окно в каждой из спален",
                    href: "#location-city"
                  },

                ]})
              .col
                +review({
                  src: "images/maga.png",
                  name: "Мурад Сарафанов",
                  date: "5 дней назад",
                  text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. \nИ стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто\nне жаловался из соседей.",
                  like: 11
                })