@import '~air-datepicker/dist/css/datepicker.min.css';
@import '~utils/scss/main';
@import '~components/text-field/text-field';
@import '~components/logo/logo';
@import '~components/range-slider/range-slider';
@import '~components/svg-icons/svg-icons';
@import '~components/masked-text-field/masked-text-field';
@import '~components/date-dropdown/date-dropdown';
@import '~components/filter-date/filter-date';
@import '~components/dropdown-choose/dropdown-choose';
@import '~components/checkbox/checkbox';
@import '~components/radio/radio';
@import '~components/toggle-buttons/toggle-buttons';
@import '~components/like-button/like-button';
@import '~components/rate/rate';
@import '~components/review/review';
@import '~components/pagination/pagination';
@import '~components/bullet-list/bullet-list';
@import '~components/advantages/advantages';

.form-elements {
  margin-top: 140px;
  margin-bottom: 130px;

  &__container {
    @include container;
  }

  &__first-row {
    margin-bottom: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;
  }

  &__last-row {
    margin-bottom: 54px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 18px;
  }
}
