mixin radio-button(title) 
	.radio-wrapper
		.title-element #{title}
		label.radio
			input(type="radio" name="radio")
			span.radio__checkmark
			span.radio__text Мужчина
		label.radio
			input(type="radio" name="radio")
			span.radio__checkmark
			span.radio__text Женщина
