.card-singin {
  background-color: $white;
  max-width: rem(380);
  min-width: rem(380);
  border-radius: rem(4);
  border: rem(1) solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.2);
  @media (max-width: $phoneWidth) {
    min-width: rem(300);
  }
  &__content {
    padding: rem(40) rem(30) rem(30) rem(30);
  }
  &__title {
    @include MontBold;
    font-size: rem(24);
    margin-bottom: rem(20);
  }
  &__item {
    &_margin-b-10 {
      margin-bottom: rem(10);
    }
    &_margin-b-30 {
      margin-bottom: rem(20);
    }
  }
  &__button-in {
    margin-bottom: rem(30);
  }
  &__check-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__check-in-text {
    font-size: rem(14);
  }
}
