.card-singin {
  background-color: $white;
  max-width: 380px;
  min-width: 380px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  &__content {
    padding: rem(40) rem(30) rem(30) rem(30);
  }
  &__title {
    @include MontBold;
    font-size: rem(24);
    margin-bottom: rem(20);
  }
  &__item {
    &_margin-b-10 {
      margin-bottom: rem(10);
    }
    &_margin-b-30 {
      margin-bottom: rem(20);
    }
  }
  &__button-in {
    margin-bottom: rem(30);
  }
  &__check-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__check-in-text {
    font-size: rem(14);
  }
}
