mixin rate({ rate })
  .rate.js-rate
    each val in [1,2,3,4,5]
      if val > rate
        .rate__star
          svg.rate__svg
            use(xlink:href="#star_border")
      else 
        .rate__star
          svg.rate__svg
            use(xlink:href="#star")
      