.registration-page {
  background-image: url('pages/registration-page/images/landing-page-bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  &__main {
    padding: 18px 0;
    display: flex;
    justify-content: center;
  }
}
