@import '~src/main.scss';
@import '~components/card-check-in/card-check-in';

.registration {
  background-image: url('./images/landing-page-bg-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-size: cover;

  &__container {
    @include container;
  }

  &__main {
    padding: 18px 0;
    display: flex;
    justify-content: center;
  }
}
