extends ../template

include ~components/header/header
include ~components/footer/footer
include ~components/card-check-in/card-check-in

block head
  title Регистрация | Toxin
  meta(name="description" content="Отель, регистрация в сервисе Toxin")
  meta(name="keywords" content="Отель, регистрация")
block content
  +header()
  main.registration
    .registration__container
      .registration__card
        +card-check-in()
  +footer()
