@import '~src/main.scss';
@import '~utils/utils-scss/button.scss';
@import '~components/svg-icons/svg-icons';
@import '~components/card-check-in/card-check-in';
@import '~components/text-field/text-field';
@import '~components/toggle-buttons/toggle-buttons';
@import '~components/checkbox/checkbox';
@import '~components/radio/radio';
@import '~components/masked-text-field/masked-text-field';

.registration {
  background-image: url('./images/landing-page-bg-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-size: cover;

  &__container {
    @include container;
  }

  &__main {
    padding: 18px 0;
    display: flex;
    justify-content: center;
  }
}
