extends ../main

include ../../components/header/header
include ../../components/footer/footer
include ../../components/masked-text-field/masked-text-field
include ../../components/toggle-buttons/toggle-buttons
include ../../components/subscription/subscription
include ../../components/text-field/text-field
include ../../components/radio-buttons/radio-buttons
include ../../components/card-check-in/card-check-in
include ../../components/date-dropdown/date-dropdown
include ../../components/dropdown-choose/dropdown-choose

block head
  link(rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png")
  link(rel="manifest" href="assets/favicons/site.webmanifest")
  
block content
  +header({routes: [
            {
              text: 'О нас',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Услуги',
              active: false,
              href: '/mock-address/change-me',
              dropdown: true
            },
            {
              text: 'Вакансии',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Новости',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Соглашения',
              active: false,
              href: '/mock-address/change-me',
              dropdown: true
            },
          ],isEntered: false})
  .content
    .registration
      .registration__container
        main.registration__main
          +card-check-in()
  +footer()
