mixin review({src: path, name, date, text, like})
  .review
    .review__head
      img.review__avatar(src=require('../assets/img/' + path).default alt='guest')
      .review__head-text
        .review__name #{name}
        .review__date #{date}
    .review__content
      +like-button({className: 'review__like', count: like})
      article.reiview__article
        p.review__text #{text}
