mixin circle-diagram(data)
  -var { voices } = data
  -var voicesNum = 0;
  -function sumVoices(){return voices.map((item) => item.num).reduce((acc, item)=>acc+item)}
  .circle-diagram(data-voices=sumVoices())
    .circle-diagram__container
      .circle-diagram__voices
        .circle-diagram__num 
          | 0
      .circle-diagram__wrapper
        canvas(id="CircleDiagram")
    ul.circle-diagram__list
      each val in voices
        li.circle-diagram__list-item
          span.circle-diagram__item-text
            | #{val.grade}