.circle-diagram {
  display: flex;
  align-items: flex-end;
  @media (max-width: $tableWidth) {
    display: block;
  }
  &__container {
    width: 135px;
    height: 135px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    position: absolute;
    z-index: 10;
    width: 135px;
    height: 135px;
  }
  &__voices {
    position: absolute;
    white-space: pre-wrap;
    text-align: center;
    max-width: 70px;
    max-height: 35px;
    font-size: 16px;
    line-height: 15px;
    color: $purple;
    @include MontBold;
    i {
      font-size: 24px;
      line-height: 29px;
      font-style: normal;
    }
  }
  &__list {
    display: block;
    max-width: 180px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 24px;
    color: $ds75;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
      line-height: 20px;
    }
  }
  &__list-item {
    display: flex;
    align-items: flex-start;
    white-space: pre-wrap;
    &:first-child {
      &:before {
        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
      }
    }
    &:nth-child(2) {
      &:before {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }
    }
    &:nth-child(3) {
      &:before {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
    }
    &:nth-child(4) {
      &:before {
        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      }
    }
    &:before {
      content: '';
      display: block;
      max-width: 10px;
      min-width: 10px;
      min-height: 10px;
      max-height: 10px;
      border-radius: 50%;
      margin-right: 5px;
      margin-top: 5px;
    }
  }
}
