extends ../template

block head
  meta(name="description" content="Отель, поиск номеров")
  meta(name="keywords" content="отель, поиск номеров, отдых, комнаты")
block content
  main.index
    ul(class="index__list")
      li(class="index__list-item")
        a(href="/form-elements.html" class="index__link") form-elements
      li(class="index__list-item")
        a(href="/landing.html" class="index__link") landing page
      li(class="index__list-item")
        a(href="/headers-footers.html" class="index__link") headers and footers
      li(class="index__list-item")
        a(href="/registration.html" class="index__link") reginstration page
      li(class="index__list-item")
        a(href="/room-details.html" class="index__link") room-details page
      li(class="index__list-item")
        a(href="/sign-in.html" class="index__link") sign in page
      li(class="index__list-item")
        a(href="/filter.html" class="index__link") filter page
      li(class="index__list-item")
        a(href="/cards.html" class="index__link") cards page