extends ../template

block head
  meta(name="description" content="Отель, поиск номеров")
  meta(name="keywords" content="отель, поиск номеров, отдых, комнаты")
block content
  main.index
    ul(class="index__list")
      li.index__list-item
        a(href="/form-elements.html").index__link form-elements
      li.index__list-item
        a(href="/landing.html").index__link landing page
      li.index__list-item
        a(href="/headers-footers.html").index__link headers and footers
      li.index__list-item
        a(href="/registration.html").index__link registration page
      li.index__list-item
        a(href="/room-details.html").index__link room-details page
      li.index__list-item
        a(href="/sign-in.html").index__link sign in page
      li.index__list-item
        a(href="/filter.html").index__link filter page
      li.index__list-item
        a(href="/cards.html").index__link cards page