@import '~utils/utils-scss/vars.scss';
@import '~utils/utils-scss/fonts.scss';

.index {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
    font-family: $font-family-primary;
    font-size: 20px;
    text-align: center;
  }

  &__list-item {
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: none;
  }
}
