mixin card-checkin()
  .card-checkin
    .card-checkin__content
      form.card-checkin__form
        fieldset.card-checkin__form-fieldset
          legend.card-checkin__form-legend
            h1.card-checkin__title
              | Регистрация аккаунта
          .card-checkin__item.card-checkin__item_margin-b-10
            +textField(
                      {
                        title: '', 
                        placeholder: 'Имя', 
                        type: 'text', 
                        required: true,
                        pat: '[A-Za-zА-Яа-яЁё]{3,}'
                      }
                    )
          .card-checkin__item.card-checkin__item_margin-b-10
            +textField(
                      {
                        title: '', 
                        placeholder: 'Фамилия', 
                        type: 'text', 
                        required: true,
                        pat: '[A-Za-zА-Яа-яЁё]{3,}'
                      }
                    )
          .card-checkin__item.card-checkin__item_margin-b-25
            +radio-buttons({title: ''})
          .card-checkin__item.card-checkin__item_margin-b-20
            +masked-textfield(
                    {
                      title: 'Дата рождения',
                      placeholder: 'ДД.ММ.ГГГГ', 
                      type: 'text', 
                      className: 'js-date-masked'
                    }
                  )
          .card-checkin__item.card-checkin__item_margin-b-10
            +textField(
                    {
                      title: 'Данные для входа в сервис', 
                      placeholder: 'Email', 
                      type: 'email', 
                      required: true,
                    }
                  )
          .card-checkin__item.card-checkin__item_margin-b-10
            +textField(
                    {
                      title: '', 
                      placeholder: 'Пароль', 
                      type: 'password', 
                      required: true,
                      pat: '(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$'
                    }
                  )
          .card-checkin__item.card-checkin__item_margin-b-20
            +toggle-buttons({title: ''})
          button.button.button_big.card-checkin__button-pay Перейти к оплате
          .card-checkin__sign-in 
            span.card-checkin__sign-in-text
              | Уже есть аккаунт на Toxin
            a(href="sign-in-page.html").button.button_white Войти
