@import '~/normalize.css/normalize.css';
@import '~utils/scss/vars.scss';
@import '~utils/scss/focus-visible.scss';
@import '~utils/scss/fonts.scss';
@import '~utils/scss/mixins.scss';
@import '~components/svg-icons/svg-icons';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: $font-family-primary;
  font-size: $main-font-size;
  line-height: $line-height-primary;
  font-weight: $font-weight-normal;
  color: $text-color;
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
