.card-room {
  $self: &;
  background-color: $white;
  max-width: 270px;
  min-width: 270px;
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  overflow: hidden;
  &__slider {
    position: relative;
    &:hover {
      #{$self}__slide {
        &:after {
          opacity: 1;
        }
      }
      #{$self}__button-next,
      #{$self}__button-prev {
        opacity: 1;
      }
    }
  }
  &__pagination {
    text-align: right;
    padding-right: rem(15);
  }
  .swiper-pagination-bullet {
    opacity: 1;
    background: none;
    border: 1px solid $white;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.1);
    margin-right: 0;
  }
  .swiper-pagination-bullet-active {
    background: $white;
    border: 1px solid $white;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    margin-right: rem(3.75);
    &:last-child {
      margin-right: 0;
    }
  }

  &__slide {
    &:after {
      content: '';
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
      box-shadow: -50px 0 50px -23px rgba(0, 0, 0, 0.5) inset, 50px 0 50px -23px rgba(0, 0, 0, 0.5) inset;
      position: absolute;
      top: 0;
      z-index: 10;
      transition: $trFast;
    }
  }
  &__slider-img {
    display: block;
  }
  &__button-prev,
  &__button-next {
    height: 100%;
    top: 22px;

    &:after {
      color: $white;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__button-next {
  }
  &__content {
    padding: rem(20) rem(17) rem(19) rem(20);
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include MontBold;
    margin-bottom: rem(15);
    line-height: rem(17);
    padding-bottom: rem(12);
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    margin-bottom: rem(12);
  }
  &__number {
    font-size: rem(14);
  }
  &__head-num {
    font-size: rem(19);
    line-height: rem(23);
  }
  &__type {
    font-size: rem(14);
    line-height: rem(15);
    color: $purple;
  }
  &__head-price {
    @include Mont;
    font-size: rem(12);
    color: $ds50;
    line-height: rem(18);
  }
  &__head-sum {
    font-size: rem(14);
    @include MontBold;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__reviews {
    font-size: rem(14);
    color: $ds50;
    @include Mont;
  }
  &__reviews-num {
    @include MontBold;
  }
}
