extends ../layout/main

include ../includes/modules/input.pug

block content
	.grey-wrapper
		svg.logo.logo_grey
					use(xlink:href="#logo")
		.grey-wrapper__wrapper
			.wrap-element.wrap-element_margin-b-40
				header.header.header_bs
					.container
						+header(true)
			.wrap-element.wrap-element_margin-b-40
				header.header.header_bs
					.container
						+header(false)
						
			.wrap-element.wrap-element_margin-b-40
				footer.footer.footer_bs
					+footer(true)
			.wrap-element.wrap-element_margin-b-40
				footer.footer.footer_bs
					+footer(false)
block script
	script