extends ../layout/main

include ../includes/modules/input.pug
include ../includes/modules/date-dropdown.pug
include ../includes/modules/dropdown-guests.pug
include ../includes/modules/dropdown-bedrooms.pug
include ../includes/modules/checkbox-item.pug
include ../includes/modules/checkbox.pug
include ../includes/modules/checkbox-2.pug
include ../includes/modules/radio-button.pug
include ../includes/modules/toggle.pug
include ../includes/modules/toggle-checkbox.pug
include ../includes/modules/like-dislike.pug

block content
	section
		.container
			.row
				.col
					+input("text field","","text", "Email","email","","","")
					br
					+dropdown-guests("dropdown","guests")
					+input("masked text field","","text", "ДД.ММ.ГГГГ","date-field-1","Date")
					br
					+input("date dropdown","input-wrapper_w150 input-wrapper_icon-show","text", "ДД.ММ.ГГГГ","datepicker-here date-dropdown-1 dropdown ","Date","icon-dropdown expand-more","#expand_more","true")
					br
					+input("Filter date dropdown","input-wrapper_w266 input-wrapper_icon-show filter-date-dropdown","text", "Дата въезда - выезда","datepicker-here date-dropdown-2 dropdown ","Date","icon-dropdown expand-more","#expand_more","true")
					br
					+input("text field","input-wrapper_w266 input-wrapper_icon-show subscription-text-field","text", "You email adress","email","","arrow-forward","#arrow_forward")
					br
					+dropdown-bedrooms("dropdown","bedrooms iqdropdown_w266")
					br
					+checkbox("Expandable checkbox list","checkbox-wrapper_w266 checkbox-wrapper_dropdown","checkbox-wrapper__ul_dropdown","Завтрак","Письменный стол","Кроватка","Телевизор","Шампунь","Телевизор","Шампунь")
				.col
					+checkbox("Expandable checkbox list","checkbox-wrapper_w222","","Можно курить","Можно с питомцами","Можно пригласить гостей (до 10 человек)")
					br 
					+checkbox-2("Expandable checkbox list","checkbox-wrapper_w266 checkbox-wrapper_second","","Широкий коридор","Ширина коридоров в номере не менее 91 см.","Помощник для инвалидов","На 1 этаже вас встретит специалист  и проводит до номера.") 
					br
					+radio-button("radio buttons")
					br
					+toggle('toggle',"Получать спецпредложения","Получать спецпредложения")
					br
					.title-element like button
					+like-dislike()
					


					


	


block script
	script(type='text/javascript').
