extends ../layout/main

include ../includes/modules/input.pug
include ../includes/modules/dropdown-guests.pug
include ../includes/modules/dropdown-bedrooms.pug
include ../includes/modules/checkbox-item.pug
include ../includes/modules/checkbox.pug
include ../includes/modules/checkbox-2.pug
include ../includes/modules/radio-button.pug
include ../includes/modules/toggle.pug
include ../includes/modules/toggle-checkbox.pug
include ../includes/modules/like-dislike.pug
include ../includes/modules/rate.pug
include ../includes/modules/range-slider.pug

block content
	svg.logo
		use(xlink:href="#logo")
	.ui-kit
		.container
				.row
					.col
						label(for="Email-1").title-element text field
						+input("Email-1","","text", "Email","email","","","")
						br
						+dropdown-guests("dropdown","guests")
						br
						label(for="Date-1").title-element masked text field
						+input("Date-1","","text", "ДД.ММ.ГГГГ","date-field-1","Date")
						br
						span.title-element date dropdown
						+input("date dropdown","input-wrapper_w150 input-wrapper_icon-show","text", "ДД.ММ.ГГГГ","datepicker-here input-wrapper__input_date-picker date-dropdown-1 dropdown ","Date","icon-dropdown expand-more","#expand_more","true")
						br
						span.title-element filter date dropdown
						+input("Filter date dropdown","input-wrapper_w266 input-wrapper_icon-show filter-date-dropdown","text", "Дата въезда - выезда","datepicker-here date-dropdown-2 dropdown input-wrapper__input_date-picker","Date","icon-dropdown expand-more","#expand_more","true")
						br
						label(for="Email-subscribe").title-element subscription text field
						+input("Email-subscribe","input-wrapper_w266 input-wrapper_icon-show subscription-text-field","text", "You email adress","email","","arrow-forward","#arrow_forward")
						br
						+dropdown-bedrooms("dropdown","bedrooms iqdropdown_w266")
						br
						+checkbox("Expandable checkbox list","checkbox-wrapper_w266 checkbox-wrapper_dropdown","checkbox-wrapper__ul_dropdown","Завтрак","Письменный стол","Кроватка","Телевизор","Шампунь","Телевизор","Шампунь")
					.col
						+checkbox("Checkbox list","checkbox-wrapper_w222","","Можно курить","Можно с питомцами","Можно пригласить гостей (до 10 человек)")
						
						br
						+radio-button("radio buttons")
						br
						+toggle("Получать спецпредложения","Получать спецпредложения")
						br
						span.title-element.title-element_margin-b like button
						+like-dislike()
						br
						span.title-element rate button
						+rate()
						br 
						span.title-element.title-element_margin-b rich checkbox button
						+checkbox-2("Expandable checkbox list","checkbox-wrapper_w266 checkbox-wrapper_second","","Широкий коридор","Ширина коридоров в номере не менее 91 см.","Помощник для инвалидов","На 1 этаже вас встретит специалист  и проводит до номера.") 
					.col 
						span.title-element range slider
						+range-slider()
						span.title-element.title-element_margin-b buttons
						button.button.button_margin-r click me
						button.button.button_disable click me
						br
						br
						button.button.button_white.button_margin-r click me
						button.button.button_white.button_white-disable click me
						br
						br
						button.button.button_no-bg.button_margin-r click me
						button.button.button_no-bg.button_no-bg-grey click me
						br
						br
						button.button.button_big перейти к оплате
							svg.arrow-forward.arrow-forward_white
								use(xlink:href="#arrow_forward")
						br
						span.title-element.title-element_margin-b pagination
						.pagination-container
							.pagination 
							span.pagination-text 1 – 12 из 100+ вариантов аренды
						br
						span.title-element.title-element_margin-b bullet list
						+list("list_bullet",
						["Нельзя с питомцами",
						"Без вечеринок и мероприятий",
						"Время прибытия - после 13:00, а выезд до 12:00"]
						)
				.last
						.advantages
							+advantage("#insert_emoticon","Комфорт","Шумопоглощающие стены")
							+advantage("#location_city","Удобство","Окно в каждой из спален")
						.review
							.review__head
								img(src="assets/img/murad.png" alt="hotel-owner").review__img 
								+like-dislike()
							.review__content
								span.review__name Мурад Сарафанов
									br
								span.review__date 5 дней назад
								p.review__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.





					


	


block script
	script(type='text/javascript').
