.button {
	display: inline-block;
	padding: 15px 20px;
	background: $purpleGr;
	border-radius: 22px;
	color: $white;
	text-transform: uppercase;
	@include MontBold;
	font-size: rem(12);
	transition: $trFast;
	cursor: pointer;
	line-height: 1;
	&:hover {
		opacity: .5;
	}
	&_subscribe {
		position: absolute;
		right: 0;
		top: calc(50% - 10px);
		padding: 0;
		border-radius: none;
	}
	&_margin-r {
		margin-right: rem(30);
	}
	&_header {
		padding: rem(10) rem(20);
	}
	&_big {
		position: relative;
		width: 100%;
		max-width: 320px;
		@media screen and (max-width: $phoneWidth) {
	    max-width: 320px;
	  }
		width: 100%;
		.arrow-forward {
			position: absolute;
			right: 1rem;
			top: calc(50% - 10px);
		}
	}
	&_white {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		position: relative;
		z-index: 1;
		transition: $trFast;
		color: $purple;
		border: none;
		font-size: rem(12);
		background: none;
		&:before {
			content: "";
			position: absolute;
			background: $purple;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			z-index: -1;
			border-radius: 22px;
			transition: $trFast;
		}
		&:after {
			content: "";
			position: absolute;
			left: 2px;
			right: 2px;
			bottom: 2px;
			top: 2px;
			z-index: -1;
			border-radius: 22px;
			background: $white;
			transition: $trFast;
		}
		&:hover {
			opacity: 1;
			&:before {
				opacity: .5;
			}
		}
	}
	&_no-bg {
		background: none;
		padding: 0;
		border-radius: 0;
		color: $purple;
		&:hover {
			opacity: 1;
		}
	}
	&_no-bg-grey {
		color: $ds50;
		&:hover {
			color: $ds50;
			background: none;
		}
	}
	&_margin-r {
		margin-right: 19px;
	}
}