extends ../main

include ../blocks/textField/textField.pug
include ../blocks/masked-textfield/masked-textfield.pug
include ../blocks/dropdown-choose/dropdown-choose.pug
include ../blocks/date-dropdown/date-dropdown.pug
include ../blocks/filter-date/filter-date.pug
include ../blocks/subscription/subscription.pug
include ../blocks/expand-list/expand-list.pug
include ../blocks/checkbox-buttons/checkbox-buttons.pug
include ../blocks/radio-buttons/radio-buttons.pug
include ../blocks/toggle-buttons/toggle-buttons.pug
include ../blocks/like-button/like-button
include ../blocks/rate-buttons/rate-buttons
include ../blocks/range-slider/range-slider
include ../blocks/pagination/pagination
include ../blocks/rich-list/rich-list
include ../blocks/bullet-list/bullet-list
include ../blocks/advantages/advantages
include ../blocks/review/review
include ../blocks/card-selection/card-selection
include ../blocks/card-book/card-book
include ../blocks/card-checkin/card-checkin

block content
	svg.logo.logo_grey
		use(xlink:href="#logo-gray")
	.cards-page
		.container
			.cards-page__content
				.cards-page__card
					+card-selection()
				.card-page__card
					+card-book()
				.card-page__card 
					.js-datepicker-inline
				.card-page__card
					+card-checkin()

block script
	script
