extends ../main

include ../blocks/textField/textField.pug
include ../blocks/masked-textfield/masked-textfield.pug
include ../blocks/dropdown-choose/dropdown-choose.pug
include ../blocks/date-dropdown/date-dropdown.pug
include ../blocks/filter-date/filter-date.pug
include ../blocks/subscription/subscription.pug
include ../blocks/expand-list/expand-list.pug
include ../blocks/checkbox-buttons/checkbox-buttons.pug
include ../blocks/radio-buttons/radio-buttons.pug
//- include ../includes/modules/checkbox.pug
//- include ../includes/modules/checkbox-2.pug
//- include ../includes/modules/radio-button.pug
//- include ../includes/modules/toggle.pug
//- include ../includes/modules/toggle-checkbox.pug
//- include ../includes/modules/like-dislike.pug
//- include ../includes/modules/range-slider.pug1

block content
	svg.logo.logo_grey
		use(xlink:href="#logo")
	.ui-kit
		.container
				.row
					.col
						+textField(
							{
								title: 'text field', 
								placeholder: 'Email', 
								type: 'email', 
								required: true
							}
						)
						+masked-textfield(
							{
								title: 'masked text field',
								placeholder: 'ДД.ММ.ГГГГ', 
								type: 'text', 
								className: 'js-date-masked'
							 }
						)
						+dropdown-choose({className: 'js-dropdown-guests', title:'dropdown'})
						+dropdown-choose({className: 'js-dropdown-beds', title: 'dropdown'})
						+date-dropdown({className: 'js-date-masked', title: 'date dropdown'})
						+filter-date({className: 'js-filter-date', title: 'filter date dropdown'})
						+subscription({title: 'subscription', placeholder: 'Email'})
						+expand-list({title: 'expandable checkbox list', className: 'js-expand-list'})

					.col
						+checkbox-buttons({title: 'checkbox buttons'})
						+radio-buttons({title: 'radio buttons'})
block script
	script
