include ../components/svg-icons/svg-icons

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title toxin
    meta(name="description", content="Отель, поиск номеров")
    meta(name="keywords" content="отель, бронирование, комнаты, отдых")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block head
  body(class=pageClass)
    div.wrapper
      block content


  +svg-icons()

block script