//- extends ../layout/main

//- include ../includes/modules/input.pug
//- include ../includes/modules/dropdown-guests.pug
//- include ../includes/modules/dropdown-bedrooms.pug
//- include ../includes/modules/checkbox-item.pug
//- include ../includes/modules/checkbox.pug
//- include ../includes/modules/checkbox-2.pug
//- include ../includes/modules/radio-button.pug
//- include ../includes/modules/toggle.pug
//- include ../includes/modules/toggle-checkbox.pug
//- include ../includes/modules/like-dislike.pug
//- include ../includes/modules/range-slider.pug

//- block content
//- 	header.header.header_bs.header_sticky
//- 		.container
//- 			+header(true)
//- 	section.section.section-search
//- 		.section-saerch__form-wrapper
//- 			+search-form('section-search__form_fixed')
//- 		.container
//- 			.section-search__inner-wrapp
//- 				+search-form()
//- 				.section-search__catalog-wrap
//- 					.section-search__catalog.section-search__catalog_active
//- 							+card-room("assets/img/room-1.jpg")
//- 							+card-room("assets/img/3.jpg")
//- 							+card-room("assets/img/2.jpg")
//- 							+card-room("assets/img/4.jpg")
//- 							+card-room("assets/img/5.jpg")
//- 							+card-room("assets/img/6.jpg")
//- 							+card-room("assets/img/2.jpg")
//- 							+card-room("assets/img/7.jpg")
//- 							+card-room("assets/img/8.jpg")
//- 							+card-room("assets/img/9.jpg")
//- 							+card-room("assets/img/10.jpg")
//- 							+card-room("assets/img/12.jpg")
//- 					.pagination-container
//- 						.pagination 
//- 						span.pagination-text 1 – 12 из 100+ вариантов аренды
//- 	+footer(true)

	


//- block script
//- 	script
