extends ../main

include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/subscription/subscription
include ../blocks/textField/textField
include ../blocks/radio-buttons/radio-buttons
include ../blocks/card-singin/card-singin
include ../blocks/date-dropdown/date-dropdown
include ../blocks/dropdown-choose/dropdown-choose

block head
  link(rel='apple-touch-icon' sizes='180x180' href='favicons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicons/favicon-16x16.png')
  link(rel='manifest' href='favicons/site.webmanifest')

block content
  +header({isEntered: false})
  .content
    .sing-in-page
      .container
        main.sing-in-page__main
          +card-singin()
  +footer()




block script
  script
