extends ../main

include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/subscription/subscription
include ../blocks/textField/textField
include ../blocks/radio-buttons/radio-buttons
include ../blocks/card-singin/card-singin
include ../blocks/date-dropdown/date-dropdown
include ../blocks/dropdown-choose/dropdown-choose

block content
  +header({isEntered: false})
  .sing-in-page
    .container
      main.sing-in-page__main
        +card-singin()
  +footer()




block script
  script
