//- extends ../layout/main

//- include ../includes/modules/input.pug
//- include ../includes/modules/dropdown-guests.pug
//- include ../includes/modules/dropdown-bedrooms.pug
//- include ../includes/modules/checkbox-item.pug
//- include ../includes/modules/checkbox.pug
//- include ../includes/modules/checkbox-2.pug
//- include ../includes/modules/radio-button.pug
//- include ../includes/modules/toggle.pug
//- include ../includes/modules/toggle-checkbox.pug
//- include ../includes/modules/like-dislike.pug
//- include ../includes/modules/range-slider.pug

//- block content
//- 	header.header
//- 		.container
//- 			+header(true)
//- 	section.section.section-main.section-main_bg-2.section-main_flex
//- 		.container
//- 			.card.card_with-padding.card_center
//- 				.title Войти
//- 				form.form
//- 					.wrap-element.wrap-element_margin-b-20
//- 						+input("",
//- 						"text",
//- 						"Email",
//- 						"email input-wrapper_margin-b",
//- 						"Email",
//- 						"",
//- 						"",
//- 						"")
//- 						+input("",
//- 						"text",
//- 						"Пароль",
//- 						"Password input-wrapper_margin-b",
//- 						"Password",
//- 						"",
//- 						"",
//- 						"")
//- 					.wrap-element.wrap-element_margin-b-20
//- 						button.button.button_big войти
//- 							svg.arrow-forward.arrow-forward_white
//- 								use(xlink:href="#arrow_forward")
//- 					.form__sing-in Нет аккаунта на Toxin?
//- 						button.button.button_white создать
//- 	+footer(true)

	


//- block script
//- 	script
