mixin filter-date()
  .filter-date
    .filter-date__input-wrapper
      input(type="text" placeholder="от и до" readonly required name="dates-rage-input").filter-date__input.js-filter-date__input
      span.filter-date__arrow
