.logo {
  position: absolute;
  top: rem(30);
  left: rem(30);
  max-width: rem(48);
  max-height: rem(48);
  &_colored {
    position: initial;
    width: 100%;
    height: 100%;
    max-width: rem(40);
    max-width: rem(105);
  }
}
