.card-sign-in {
  width: 100%;
  width: 380px;
  background-color: $bg-color-primary;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  &__content {
    padding: 38px 30px 32px 30px;
  }

  &__title {
    margin: 0;
    margin-bottom: 18px;
    font-family: $font-family-primary;
    font-size: 24px;
    font-weight: $bold;

    @media (max-width: $phone-width) {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  &__email {
    margin-bottom: 10px;
  }

  &__password {
    margin-bottom: 20px;
  }

  &__button {
    margin-bottom: 30px;
  }

  &__check-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__check-in-text {
    max-width: 170px;
    font-size: 14px;

    @media (max-width: $phone-width) {
      font-size: 12px;
    }
  }
}
