mixin card-sign-in()
  .card-sign-in
    .card-sign-in__content
      h1.card-sign-in__title
        | Войти
      form.card-sign-in__form
        .card-sign-in__item.card-sign-in__item_margin-b-10
          +text-field(
            {
              title: "", 
              placeholder: "Email", 
              type: "email", 
              required: true

            }
          )
        .card-sign-in__item.card-sign-in__item_margin-b-20
          +text-field(
            {
              title: "", 
              placeholder: "Пароль", 
              type: "password", 
              required: true,
            }
          )
        .card-sign-in__item.card-sign-in__item_margin-b-32
          button.button.button_big.button_with-icon Войти
        .card-sign-in__check-in 
          span.card-sign-in__check-in-text
            | Нет аккаунта на Toxin?
          a(href="registration-page.html").button.button_white Создать