mixin card-sign-in()
  .card-sign-in
    .card-sign-in__content
      span.card-sign-in__title
        | Войти
      form.card-sign-in__form
        .card-sign-in__email
          +text-field(
            {
              title: "", 
              placeholder: "Email", 
              type: "email",
              name: "email-input",
              required: true

            }
          )
        .card-sign-in__password
          +text-field(
            {
              title: "", 
              placeholder: "Пароль", 
              type: "password",
              name: "password-input",
              required: true,
            }
          )
        .card-sign-in__button
          button(type="submit").button.button_big.button_with-icon Войти
        .card-sign-in__check-in 
          span.card-sign-in__check-in-text
            | Нет аккаунта на Toxin?
          a(href="registration.html").button.button_white Создать