.card-room {
	width: 100%;
	max-width: 270px;
	border-top-right-radius: 40px;
	border-top-left-radius: 4px;
	&_bs {
		box-shadow: $bs-2;
	}
	&__img {
		width: 100%;
		max-height: rem(151);
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
	}
}