.card {
	background-color: $white;
	box-shadow: $bs-2;
	border-radius: 4px;
	&_with-padding {
		padding: 40px 30px 30px 30px;
		width: 100%;
		max-width: 380px;
		@media screen and (max-width: $phoneWidth) {
			margin: 0 auto;
		}
	}
	&_center {
		margin: auto;
	}
	.datepicker {
		max-height: 370px;
	}
}