.checkbox-wrapper {
  user-select: none;
  &_w266 {
    max-width: 266px;
  }
  &_w222 {
    max-width: 222px;
  }
  svg.expand-more {
    display: none;
    margin-bottom: 16.6px;
  }
  &_dropdown {
    cursor: pointer;
    svg.expand-more {
      display: block;
    }
  }
  &_second {
    span:first-child {
      display: block;
      @include MontBold;
      font-size: rem(14);
      color: $ds100;
    }
    span:last-child {
      display: block;
      margin-top: 5px;
    }
  }
  &__head {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &_active {
      svg {
        transform: rotate(180deg);
        fill: $ds100;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    @include MontBold;
    display: inline-block;
    font-size: rem(12);
  }
  &__label {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
  }
  &__checkbox {
    display: none;
    &:checked ~ .checkbox-wrapper__checkmark {
      border-color: $purple;
      svg {
        opacity: 1;
      }
    }
    // &:checked ~ .checkbox-wrapper__sub-wrap {
    //   color: $ds75;
    // }
  }
  &__checkmark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    min-width: 20px;
    border-radius: 4px;
    border: 1px solid $ds25;
    overflow: hidden;
    margin-right: 10px;
    svg {
      opacity: 0;
      width: 18px;
      height: 10px;
    }
  }
  &__sub-wrap {

  }
  &__subtitle {
    
  }
  &__ul {
    transition: $trFast;
    &_dropdown {
      max-height: 0;
      overflow: hidden;
    }
    &_show {
      max-height: 1000px;
    }
  }
  &__li {
    margin-bottom: 10px;
    color: $ds50;
    font-size: rem(14);
  }
}
