.iqdropdown {
	width: 100%;
	max-width: 320px;
	color: $ds75;
	font-size: $secondFontSize;
	@include borderAnimation;
	max-width: 320px;
	width: 100%;
	background-color: #fff;
	font-size: $secondFontSize;
	padding: 11px 15px;
	transition: $trFast;
	// margin-bottom: 14px;
	@include borderAnimation;
	display: flex;
	justify-content: space-between;
}

.borderBottomFocus {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}