.input-title {
	text-transform: uppercase;
	@include MontBold;
	font-size: $smallFontSize;

}
.input-wrapper {
	display: inline-flex;
	max-width: 320px;
	width: 320px;
	background-color: #fff;
	font-size: $secondFontSize;
	padding: 10px 15px;
	transition: $trFast;
	// margin-bottom: 14px;
	@include borderAnimation;
	justify-content: space-between;
	svg {
		display: none;
	}
	&:hover {
		.input {
			&::placeholder {
				color: $ds75;
				font-size: $secondFontSize;
			}
		}
	}
}
.input {
	&::placeholder {
		color: $ds25;
		font-size: $secondFontSize;
		transition: $trFast;
	}
	max-width: 80%;
	&:focus {
		&::placeholder {
			color: $ds75;
			font-size: $secondFontSize;
		}
	}
}

.input.dropdown {
	&::placeholder {
		color: $ds75;
	}
	svg {
		display: block;
	}
}

.input-wrapper.dropdown {
	svg {
		display: block;
	}
}

.input.date-dropdown-2 {
	&:-ms-value {
		text-transform: uppercase;
	}
}
