
.input-wrapper {
	display: inline-flex;
	max-width: 320px;
	width: 320px;
	background-color: #fff;
	font-size: $secondFontSize;
	transition: $trFast;
	position: relative;
	// margin-bottom: 14px;
	justify-content: space-between;
	svg {
		display: none;
		position: absolute;
		right: 15px;
	}
	&:hover {
		&__input {
			&::placeholder {
				color: $ds75;
				font-size: $secondFontSize;
			}
		}
	}
	&__input {
		width: 100%;
		padding: 12px 15px;
		&_date-picker {
			color: transparent;
			text-shadow: 0 0 0 $ds75;
		}
		@include borderAnimation;
		&:focus {
			.input-wrapper {
				@include borderInputHover;
			}
		}
		&::placeholder {
			color: $ds25;
			font-size: $secondFontSize;
			transition: $trFast;
			&::focus {
				color: $ds75;
			}
		}
	}
	&_color75 {
		&::placeholder {
			// color: $ds75;
		}
	}
	&_icon-show {
		svg {
			display: block;
		}
	}
	&_w150 {
		max-width: 150px;
	}
	&_w266 {
		max-width: 266px;
	}
	&_w320 {
		max-width: 320px;
	}
}
