/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/
.simple-pagination {
  padding: 0;
  margin-bottom: 10px;
}
.pagination.simple-pagination {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 10px;
}
.pagination-text {
  max-width: 320px;
  margin: 0 auto;
  font-size: rem(14);
  color: $ds75;
}
.pagination-container {
  display: inline-block;
  margin: 0 auto;
}
ul.simple-pagination {
  list-style: none;
}

.simple-pagination {
  overflow: hidden;
  padding: 0 5px 5px 0;
  margin: 0;
  max-width: 320px;
  user-select: none;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    @include Mont;
    
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: rem(40);
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:last-child {
      background: $greenGr;
      svg {
        fill: $white;
      }
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
  a {
    font-size: rem(12);
    color: $ds50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .active {
  border-radius: 50%;
  background: $purpleGr;
  color: $white;
  @include MontBold;
  font-size: rem(12);
}
  .current {

  }
  .disabled {
    opacity: .5;
  }
  span.ellipse.clickable {
    cursor: pointer;
  }
  .ellipse {
    font-size: rem(12);
  }
  .ellipse input {
    width: 3em;
  }
}



