.review {
	line-height: rem(24);
	font-size: rem(12);
	display: flex;
	color: $ds75;
	@media screen and (max-width: $phoneWidth) {
    max-width: 320px;
  }
	&__head {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		min-width: rem(48);
		min-height: rem(48);
		border-radius: 50%;
		margin-bottom: 12px;
	}
	&__content {
		margin-left: 10px;
		width: 100%;
		max-width: 653px
	}
	&__name {
		@include MontBold;
		color: $ds75;
	}
	&__date {
		display: block;
		margin-bottom: 10px;
	}
}