.section-search {
	padding-top: rem(30);
	&__inner-wrapp {
		grid-gap: rem(40);
		display: grid;
		grid-template-columns: auto auto;
		@media screen and (max-width: $smDesktopWidth) {
			grid-template-columns: 1fr;
		}
	}
	&__form-span {
		font-size: rem(12);
		color: $ds50;
	}
	&__form {
		min-width: 266px;
		@media screen and (max-width: $smDesktopWidth) {
			display: block;
		}
		@media (max-width: $smDesktopWidth) {
			display: none;
		}
		&_fixed {
			display: none;
			max-width: 266px;
			margin: 0 auto;
			@media (max-width: $smDesktopWidth) {
				display: block;
				margin-bottom: rem(100);
			}
		}
	&__form-wrapper {
		// display: none;
		// position: absolute;
		// width: 100%;
		// background-color: #000;
		@media screen and (max-width: $smDesktopWidth) {
			// display: block;
		}
	}
	}
	&__catalog-wrap {
		display: flex;
		flex-direction: column;

		@media screen and (max-width: $smDesktopWidth) {
			margin: 0 auto;
		}
	}
	&__catalog {
		display: grid;
		width: 0;
		overflow: hidden;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: rem(20);
		opacity: 0;
		position: absolute;
		&_active {
			width: 100%;
			position: static;
			transition: opacity $trFast;
			opacity: 1;
			overflow: visible;
			margin-bottom: rem(40);
		}
		@media screen and (max-width: $desktopWidth) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media screen and (max-width: $mdDesktopWidth) {
			grid-template-columns: 1fr 1fr;
		}
		@media screen and (max-width: $smDesktopWidth) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(6, 1fr);
			margin: 0 auto;
			margin-bottom: rem(40);
		}
		@media (max-width: $tableWidth) {
			margin: 0 auto;
			margin-bottom: rem(40);
		}
		@media (max-width: 592px) {
			grid-template-columns: 1fr;
			margin: 0 auto;
			margin-bottom: rem(40);
		}
	}
}