.wrap-element {
	&_max-w-320 {
		max-width: 320px;
	}
	&_border-b {
		border-bottom: 1px solid $ds25;
	}
	&_margin-b-40 {
		margin-bottom: rem(40);
	}
	&_margin-b-30 {
		margin-bottom: rem(30);
	}
	&_margin-b-20 {
		margin-bottom: rem(20);
	}
	&_datepicker {
		
	}
	&_inline {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		@media screen and (max-width: $phoneWidth) {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}