mixin masked-text-field({title, name, placeholder,className})
  label.masked-text-field
    span.block-title #{title}
    input.masked-text-field__input.js-masked-text-field__input(type=type placeholder=placeholder name=name)
