mixin masked-text-field({ title, name, placeholder, className })
  label.masked-text-field
    if title
      span.masked-text-field__title #{title}
    input(type=type placeholder=placeholder name=name).masked-text-field__input.js-masked-text-field__input
