include ~components/button/button
include ~components/logo/logo

mixin header( user = null )
  -
    const routes = [
      { text: 'О нас', active: false },
      { text: 'Услуги', active: false, dropdown: true },
      { text: 'Вакансии', active: false },
      { text: 'Новости', active: false },
      { text: 'Соглашения', active: false, dropdown: true},
    ]

  header.header.js-header
    .header__container
      .header__content
        a(href='index.html').header__logo-link
          +logo()
        nav.header__nav.js-header__nav
          ul.header__list
            each route in routes
              li.header__list-item
                a.header__link(
                  href='/mock-address/change-me',
                  class=`${route.active ? "header__link_active" : ""} ${route.dropdown ? "header__link_dropping-out" : ""}`
                )
                  | #{route.text}
          if !user
            .header__buttons
              span.header__button-wrap
                +button({
                  type: 'link',
                  href: 'sign-in.html',
                  text: 'Войти',
                  modifiers: 'button_white button_small'
                })
              +button({
                type: 'link',
                href: 'registration.html',
                text: 'Зарегистрироваться',
                modifiers: 'button_small'
              })
          else
            a(href='/mock-address/change-me').header__user
              | Юлий Цезарь
        .header__nav-shadow.js-header__nav-shadow
        button(type='button', aria-label='menu').header__burger.js-header__burger
          .header__burger-layout.js-header__burger-layout 
