mixin header({isEntered})
  header.header.js-header
    .container
      .header__content
        a(href="index.html")
          svg(class="logo logo_colored header__logo" aria-label="toxin logo")
            use(xlink:href="#logo-colored")
        nav.header__nav
          ul.header__list
            li.header__list-item
              a.header__link(href="/mock-address/change-me" aria-label="информация о нас")
                | О нас

            li.header__list-item.header__list-item_dropdown
              a.header__link(href="/mock-address/change-me" aria-label="информация о нас")
                | Услуги

            li.header__list-item
              a.header__link(href="/mock-address/change-me" aria-label="информация о нас")
                | Вакансии

            li.header__list-item
              a.header__link(href="/mock-address/change-me" aria-label="информация о нас")
                | Новости

            li.header__list-item.header__list-item_dropdown
              a.header__link(href="/mock-address/change-me" aria-label="информация о нас")
                | Соглашения
          if !isEntered
            .header__buttons
              span.header__button-wrap
                a(href="sign-in-page.html").button.button_white.button_small
                  | Войти
              a(href="registration-page.html").button.button_small
                | Зарегистрироваться
          else 
            a(href="/mock-address/change-me").header__cabinet
              | Юлий Цезарь
        .header__burger.js-header__burger(role="navigation" aria-label="menu")
          .header__burger-layout.js-header__burger-layout  
    
    .header__nav-shadow.js-header__nav-shadow
    nav.header__nav.header__nav_dropdown.js-header__nav_dropdown
        ul.header__list
          li.header__list-item
            a.header__link(href="/mock-address/change-me" aria-label="информация о нас")
              | О нас

          li.header__list-item.header__list-item_dropdown
            a.header__link(href="/mock-address/change-me" aria-label="информация о нас")
              | Услуги

          li.header__list-item
            a.header__link(href="/mock-address/change-me" aria-label="информация о нас")
              | Вакансии

          li.header__list-item
            a.header__link(href="/mock-address/change-me" aria-label="информация о нас")
              | Новости

          li.header__list-item.header__list-item_dropdown
            a.header__link(href="/mock-address/change-me" aria-label="информация о нас")
              | Соглашения
        if !isEntered
          span.header__button-wrap
            a(href="sign-in-page.html").button.button_white.button_small
              | Войти
          br
          a(href="registration-page.html").button.button_small
            | Зарегистрироваться
        else 
          a(href="/mock-address/change-me").header__cabinet
            | Юлий Цезарь