extends ../main

include ../../components/text-field/text-field
include ../../components/subscription/subscription
include ../../components/header/header
include ../../components/footer/footer

block head
  link(rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png")
  link(rel="manifest" href="assets/favicons/site.webmanifest")

block content
  svg.logo.logo_grey(aria-label="toxin logo")
    use(xlink:href="#logo-gray")
  main.headers-footers
    .wrapper
      .headers-footers__content
        .headers-footers__block
          +header({routes: [
            {
              text: 'О нас',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Услуги',
              active: false,
              href: '/mock-address/change-me',
              dropdown: true
            },
            {
              text: 'Вакансии',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Новости',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Соглашения',
              active: false,
              href: '/mock-address/change-me',
              dropdown: true
            },
          ],isEntered: false})
        .headers-footers__block
          +header({routes: [
            {
              text: 'О нас',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Услуги',
              active: false,
              href: '/mock-address/change-me',
              dropdown: true
            },
            {
              text: 'Вакансии',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Новости',
              active: false,
              href: '/mock-address/change-me'
            },
            {
              text: 'Соглашения',
              active: false,
              href: '/mock-address/change-me',
              dropdown: true
            },
          ],isEntered: true})
      .content
      .header-footers__block
        +footer()


block script
  script
