.card-checkin {
  background-color: $white;
  max-width: 380px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  @media (max-width: $phoneWidth) {
  }
  &__content {
    padding: 40px 30px 30px 30px;
  }
  &__title {
    @include MontBold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    @media (max-width: $phoneWidth) {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 10px;
    }
  }
  &__item {
    &_margin-b-10 {
      margin-bottom: 10px;
    }
    &_margin-b-25 {
      margin-bottom: 25px;
    }

    &_margin-b-20 {
      margin-bottom: 20px;
    }
  }
  &__button-pay {
    margin-bottom: 30px;
  }
  &__sing-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__sing-in-text {
    font-size: 14px;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
    }
  }
}
