mixin card-checkin()
  .card-checkin
    .card-checkin__content
      h3.card-checkin__title
      from.card-checkin__form
        +textField(
                  {
                    title: 'text field', 
                    placeholder: 'Email', 
                    type: 'email', 
                    required: true
                  }
                )
        +textField(
                  {
                    title: 'text field', 
                    placeholder: 'Email', 
                    type: 'email', 
                    required: true
                  }
                )
    
