.expand-list {
  display: block;
  max-width: 266px;
  user-select: none;
  $self: &;

  &:focus {
    outline: 2px solid $primary-color;
  }

  &__title-wrapper {
    margin-bottom: 20px;
    cursor: initial;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    cursor: pointer;

    &::after {
      margin-right: 20px;
      margin-bottom: 0;
      display: block;
      width: 12px;
      height: 8px;
      opacity: 0.7;
      content: '';
      background-image: url('~img/expand-more.svg');
      background-repeat: no-repeat;
      background-position: center;
      transition: $tr-fast;

      @media (max-width: $phone-width) {
        margin-right: 10px;
      }

      @media (max-width: $phone-width) {
        font-size: 10px;
      }
    }

    &_active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__dropdown {
    top: 100%;
    overflow: hidden;
    max-height: 0;
    transition: $tr-fast;

    &_active {
      max-height: 1000px;
    }

    label {
      line-height: 1;
    }
  }

  &__item {
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__custom-checkbox {
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    border: $border-input;
    border-radius: 4px;

    &:focus {
      border: $border-input-hover;
    }

    @media (max-width: $phone-width) {
      margin-right: 5px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    color: $text-color-brightness-50;

    @media (max-width: $phone-width) {
      font-size: 12px;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + span {
    background-image: url('~img/vector.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-color: $primary-color;
  }
}
