.range-slider {
  max-width: rem(266);
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(20);
  }
  &__values {
    font-size: rem(12);
    color: $ds50;
  }
}

.irs--round {
  max-width: rem(266);
  height: rem(6);
  cursor: pointer;
}
.irs--round .irs-line {
  background-color: #fff;
  border: rem(1) solid $ds25;
  height: rem(6);
  top: 0;
}
.irs--round .irs-bar {
  background: $greenGr;
  top: 0;
  height: rem(6);
}

.irs--round .irs-handle {
  top: rem(-4.5);
  border: rem(2) solid $white;
  width: rem(15);
  height: rem(15);
  background: $greenGr;
  box-shadow: none;
  cursor: pointer;
}

.irs-from,
.irs-to,
.irs-single {
  height: 0;
  width: 0;
  overflow: hidden;
}
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  padding: 0;
}
