mixin range-slider({title, interval})
  .range-slider
    .range-slider__head 
      span.block-title #{title}
      span.range-slider__values #{interval}
    input.js-range-slider__input.range-slider__input
