mixin toggle-buttons({title})
  .toggle-buttons(class=className)
    span.block-title.block-title_margin-b-16 #{title}
    .toggle-buttons__container
      label.toggle-buttons__label 
        input.toggle-buttons__checkbox(type="checkbox")
        span.toggle-buttons__checkmark
        span.toggle-buttons__subtitle Получать спецпредложения
