mixin toggle-buttons({title})
  .toggle-buttons(class=className)
    span.toggle-buttons__title #{title}
    br
    label.toggle-buttons__label 
      input.toggle-buttons__checkbox(type="checkbox")
      span.toggle-buttons__checkmark
      span.toggle-buttons__subtitle Получать спецпредложения
