.toggle-buttons {
  $self: &;
  user-select: none;
  &__title {
    font-family: 'MontserratBold', Arial, sans-serif;
    font-size: rem(12);
    text-transform: uppercase;
  }

  &__head {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: rem(16.6);
    &_active {
      svg {
        transform: rotate(180deg);
        fill: $ds100;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    @include MontBold;
    display: inline-block;
    font-size: rem(12);
  }
  &__label {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
  }
  &__checkbox {
    display: none;
    &:checked ~ #{$self}__checkmark {
      border-color: $purple;
      &:after {
        background: $purpleGr;
        left: none;
        left: calc(100% - 0.833rem);
      }
    }
    &:checked ~ #{$self}__subtitle {
      color: $ds75;
    }
  }
  &__checkmark {
    display: inline-flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    min-height: rem(20);
    min-width: rem(40);
    border-radius: rem(10);
    border: rem(1) solid $ds25;
    overflow: hidden;
    margin-right: rem(10);
    transition: $trFast;
    &:focus {
      border: $borderHover;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: rem(3);
      width: rem(12);
      height: rem(12);
      border-radius: 50%;
      background: $ds25;
      transition: $trFast;
    }
  }
  &__subtitle {
    color: $ds75;
    font-size: rem(14);
    line-height: rem(18);
    white-space: pre-wrap;
  }
}
