mixin bullet-list({title,className, items}) 
  .bullet-list
    span.bullet-list__title #{title}
    ul.bullet-list__ul
      each val in items
        li.bullet-list__li
          span.bullet-list__text
            | #{val}