mixin bullet-list({title,className, items}) 
  .bullet-list
    span.block-title.block-title_margin-b-16(class=className) #{title}
    ul.bullet-list__ul
      each val in items
        li.bullet-list__li
          span.bullet-list__text
            | #{val}