.toggle-buttons {
  $self: &;
  user-select: none;
  &__label {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
  }
  &__checkbox {
    display: none;
    &:checked ~ #{$self}__checkmark {
      border-color: $primary-color;
      &:after {
        background: $button-color-primary;
        left: calc(100% - 15px);
      }
    }
    &:checked ~ #{$self}__subtitle {
      color: $text-color-brightness-75;
    }
  }
  &__checkmark {
    display: inline-flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    min-height: 20px;
    min-width: 40px;
    border-radius: 10px;
    border: 1px solid $text-color-brightness-25;
    overflow: hidden;
    margin-right: 10px;
    transition: $tr-fast;
    &:focus {
      border: $border-input-hover;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $text-color-brightness-25;
      transition: $tr-fast;
    }
  }
  &__subtitle {
    color: $text-color-brightness-75;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    @media (max-width: $phone-width) {
      font-size: 12px;
    }
  }
}
