mixin toggle-buttons()
  .toggle-buttons(class=className)
    .toggle-buttons__container
      label.toggle-buttons__label 
        input.toggle-buttons__checkbox(type="checkbox")
        span.toggle-buttons__checkmark(tabindex="0")
        span.toggle-buttons__subtitle Получать спецпредложения 
