mixin toggle-buttons()
  .toggle-buttons
    .toggle-buttons__container
      label.toggle-buttons__label 
        input(type="checkbox").toggle-buttons__checkbox
        span(tabindex="0").toggle-buttons__checkmark
        span.toggle-buttons__subtitle Получать спецпредложения 
