mixin advantages()
  .advantages
    ul.advantages__ul 
      li.advantages__li
        svg.advantages__svg
          use(xlink:href="#insert_emoticon")
        span.advantages__text
          span.advantages__head 
            | Комфорт
          span.advantages__description 
            | Шумопоглащающие стены
      li.advantages__li
        svg.advantages__svg
          use(xlink:href="#location_city")
        span.advantages__text
          span.advantages__head 
            | Удобство
          span.advantages__description 
            | Окно в каждой из спален