mixin advantages({items})
  .advantages
    ul.advantages__ul 
      each val, index in items
        li.advantages__li
          svg.advantages__svg
            use(xlink:href=items[index].href)
          span.advantages__text
            span.advantages__head
              | #{items[index].title}
            span.advantages__description
              | #{items[index].description}