.landing-page {
  background-image: url('assets/img/landing-page-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  &__main {
    margin: 70px 0 386px;
    display: flex;
    justify-content: space-between;
  }
  &__description {
    text-align: right;
    padding-bottom: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 24px;
    color: $ds75;
    align-self: flex-end;
  }
}
