include ~components/subscription/subscription
include ~components/logo/logo

mixin footer()
  -
    const routes = {
      nav: [
        { text: 'О нас' },
        { text: 'Новости'},
        { text: 'Служба поддержки'},
        { text: 'Услуги'},
      ],
      aboutUs: [
        { text: 'О сервисе' },
        { text: 'Наша команда'},
        { text: 'Вакансии'},
        { text: 'Инвесторы'},
      ],
      support: [
        { text: 'Соглашения' },
        { text: 'Сообщества'},
        { text: 'Вакансии'},
        { text: 'Связь с нами'},
      ],
      social: [
        { xlinkHref:  '#twitter'},
        { xlinkHref:  '#facebook'},
        { xlinkHref:  '#inst'},
      ]
    }
  footer.footer
    .footer__container
      .footer__content
        .footer__block-text
          a(href="index.html").footer__link-logo
            +logo()
          p.footer__achievement
            | Бронирование номеров в лучшем
            | отеле 2019 года по версии
            | ассоциации «Отельные взгляды»
        nav.footer__nav
          ul.footer__list
            span.footer__list-title
                | Навигация
            each route in routes.nav
              li.footer__list-item
                a.footer__link(href="/mock-address/change-me")
                  | #{route.text}
          ul.footer__list
            span.footer__list-title
                  | О нас
            each route in routes.aboutUs
              li.footer__list-item
                a.footer__link(href="/mock-address/change-me")
                  | #{route.text}   
          ul.footer__list
            span.footer__list-title
              | Служба поддержки
            each route in routes.support
              li.footer__list-item
                a.footer__link(href="/mock-address/change-me")
                  | #{route.text}
        .footer__subscribe
          span.footer__subscribe-title
            | Подписка
          p.footer__subscribe-text
            | Получайте специальные 
            | предложения и новости сервиса
          .footer__form-wrap
            +subscription({title: "", placeholder: "Email", required: true})
    .footer__basement
      .footer__container
        .footer__basement-content
          span.footer__copyright
            | Copyright © 2018 Toxin отель. Все права защищены.
          ul.footer__social-list(aria-label="Социальные сети")
            each route in routes.social
              li.footer__social-item
                a(href="/mock-address/change-me" target="_blank" rel="noreferrer noopener").footer__social-link
                  svg.footer__soc-icon
                    use(xlink:href=route.xlinkHref)

