mixin footer()
  footer.footer
    .container
      .footer__content
        .footer__block-text
          a(href="index.html")
            svg.footer__logo.logo.logo_colored
              use(xlink:href="#logo-colored")
          p.footer__achievement
            | Бронирование номеров в лучшем
            | отеле 2019 года по версии
            | ассоциации «Отельные взгляды»
        nav.footer__nav
          ul.footer__list
            span.footer__list-title
                | Навигация
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | О нас
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | Новости
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | Служба поддержки
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | Услуги
          ul.footer__list
            span.footer__list-title
                  | О нас
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | О сервисе
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | Наша команда
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | Вакансии
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | Инвесторы    
          ul.footer__list
            span.footer__list-title
              | Служба поддержки
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | Соглашения
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | Сообщества
            li.footer__list-item
              a.footer__link(href="/mock-address/change-me")
                | Связь с нами 
        .footer__subscribe
          span.footer__subscribe-title
            | Подписка
          p.footer__subscribe-text
            | Получайте специальные 
            | предложения и новости сервиса
          .footer__form-wrap
            +subscription({title: "", placeholder: "Email", required: true})
    .footer__basement
      .container
        .footer__basement-content
          span.footer__copyright
            | Copyright © 2018 Toxin отель. Все права защищены.
          .footer__social(aria-label="Социальные сети")
            a(href="/mock-address/change-me" target="_blank" rel="noreferrer noopener").footer__social-link
              svg.footer__soc-icon
                use(xlink:href="#twitter")
            a(href="/mock-address/change-me" target="_blank" rel="noreferrer noopener").footer__social-link
              svg.footer__soc-icon
                use(xlink:href="#facebook")
            a(href="/mock-address/change-me" target="_blank" rel="noreferrer noopener").footer__social-link
              svg.footer__soc-icon
                use(xlink:href="#inst")

