.footer {
  $self: &;

  flex: 0 0 auto;
  font-size: 14px;
  white-space: pre-wrap;
  color: $text-color-brightness-75;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  @media (max-width: $sm-desktop-width) {
    padding: 50px 0;
  }

  @media (max-width: $phone-width) {
    padding: 50px;
    font-size: 12px;
  }

  &__content {
    padding-top: 96px;
    padding-bottom: 95px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $sm-desktop-width) {
      padding: 0;
      padding-bottom: 0;
      justify-content: center;
    }
  }

  &__block-text {
    width: 300px;

    @media (max-width: $sm-desktop-width) {
      text-align: center;
    }
  }

  &__logo {
    margin-bottom: 14px;

    @media (max-width: $sm-desktop-width) {
      margin-bottom: 0;
    }
  }

  &__achivement {
    line-height: 24px;
    white-space: pre-wrap;

    @media (max-width: $sm-desktop-width) {
      display: none;
    }
  }

  &__nav {
    display: flex;
  }

  &__list {
    padding-top: 5px;
    width: 200px;

    @media (max-width: $md-desktop-width) {
      margin-right: 5px;
      width: auto;
    }

    @media (max-width: $sm-desktop-width) {
      display: none;
    }
  }

  &__list-title {
    margin-bottom: 23px;
  }

  &__list-item {
    margin-bottom: 21px;
    line-height: 17px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    overflow-x: hidden;
    max-width: 92px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $text-color-brightness-75;
    transition: $tr-fast;

    &:hover {
      max-width: 150px;
      white-space: pre-line;
    }

    &:visited {
      color: rgba(185, 101, 185, 0.98);
    }
  }

  &__subscribe {
    padding-top: 5px;
    width: 260px;

    @media (max-width: $sm-desktop-width) {
      display: none;
    }
  }

  &__subscribe-title {
    margin-bottom: 20px;
  }

  &__subscribe-text {
    line-height: 24px;
    white-space: pre-wrap;
  }

  &__basement {
    border-top: 1px solid rgba(31, 32, 65, 0.1);

    @media (max-width: $sm-desktop-width) {
      padding-top: 20px;
      border: none;
    }
  }

  &__basement-content {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $sm-desktop-width) {
      padding: 0;
      display: block;
      text-align: center;
    }
  }

  &__copyright {
    display: inline-block;
    overflow-x: hidden;
    max-width: 400px;
    line-height: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__social {
    @media (max-width: $sm-desktop-width) {
      margin-top: 20px;
    }
  }

  &__social-link {
    margin-right: 20px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }

  &__soc-icon {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }
}
