.footer {
  $self: &;

  flex: 0 0 auto;
  font-size: 14px;
  white-space: pre-wrap;
  color: $text-color-brightness-75;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  @media (max-width: $sm-desktop-width) {
    padding: 50px 0;
  }

  @media (max-width: $phone-width) {
    padding: 50px;
    font-size: 12px;
  }

  &__content {
    padding-top: 96px;
    padding-bottom: 97px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $sm-desktop-width) {
      padding: 0;
      padding-bottom: 0;
      justify-content: center;
    }
  }

  &__block-text {
    width: 300px;

    @media (max-width: $sm-desktop-width) {
      text-align: center;
    }
  }

  &__logo {
    margin-bottom: 14px;

    @media (max-width: $sm-desktop-width) {
      margin-bottom: 0;
    }
  }

  &__achievement {
    line-height: 24px;

    @media (max-width: $sm-desktop-width) {
      display: none;
    }
  }

  &__nav {
    display: flex;
  }

  &__list {
    padding-top: 5px;
    width: 200px;

    @media (max-width: $md-desktop-width) {
      margin-right: 5px;
      width: auto;
    }

    @media (max-width: $sm-desktop-width) {
      display: none;
    }
  }

  &__list-title {
    display: inline-block;
    margin-bottom: 23px;
    font-family: $font-family-primary;
    font-size: 12px;
    line-height: 15px;
    font-weight: $bold;
    white-space: pre-wrap;
    text-transform: uppercase;
    color: $text-color;
    overflow-wrap: break-word;
  }

  &__list-item {
    margin-bottom: 21px;
    line-height: 17px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $text-color-brightness-75;
    transition: $tr-fast;
    overflow-wrap: break-word;

    &_active {
      font-weight: bold;
    }
    &:visited {
      color: rgba(185, 101, 185, 0.98);
    }
  }

  &__subscribe {
    padding-top: 5px;
    width: 260px;
    @media (max-width: $sm-desktop-width) {
      display: none;
    }
  }

  &__subscribe-title {
    font-family: $font-family-primary;
    font-size: 12px;
    line-height: 15px;
    font-weight: $bold;

    text-transform: uppercase;
    color: $text-color;
    overflow-wrap: break-word;
    display: inline-block;
    margin-bottom: 18px;
  }

  &__subscribe-text {
    line-height: 24px;
    overflow-wrap: break-word;
  }

  &__form-wrap {
    margin-top: 22px;
  }

  &__basement {
    border-top: 1px solid rgba(31, 32, 65, 0.1);

    @media (max-width: $sm-desktop-width) {
      padding-top: 20px;
      border: none;
    }
  }

  &__basement-content {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $sm-desktop-width) {
      padding: 0;
      display: block;
      text-align: center;
    }
  }

  &__copyright {
    max-width: 400px;
    line-height: 17px;
    overflow-wrap: break-word;
  }

  &__social {
    @media (max-width: $sm-desktop-width) {
      margin-top: 20px;
    }
  }

  &__social-link {
    margin-right: 20px;
    display: inline-block;
    line-height: 17px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__soc-icon {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }
}
