.textfield {
  display: block;
  max-width: 320px;
  &:hover & {
    &__input {
      border: $borderHover;
      &::placeholder {
        color: $ds75;
      }
    }
  }
  &__input {
    width: 100%;
    border: $border;
    border-radius: 4px;
    transition: $trFast;
    padding: 13px 15px;
    font-size: 14px;
    color: $ds75;
    @include MontMedium;
    &::placeholder {
      font-size: 14px;
      color: $ds25;
      transition: $trFast;
    }
    &:focus {
      outline: none;
      border: $borderHover;
      &::placeholder {
        color: $ds75;
      }
    }
    @media (max-width: $phoneWidth) {
      font-size: 12px;
      &::placeholder {
        font-size: 12px;
      }
    }
  }
}
