.rate-buttons {
  display: flex;

  &__label {
    display: flex;
    margin-right: rem(4);
  }
  &__input {
    display: none;
  }
  &__input:checked + &__star &__svg {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__input:checked + &__star &__svg:last-child {
    opacity: 1;
    width: rem(20);
    height: rem(20);
  }
  &__svg {
    width: rem(20);
    height: rem(20);
    &:last-child {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}
