.expand-list {
  display: block;
  max-width: 266px;
  user-select: none;
  cursor: pointer;
  $self: &;
  &__title {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 8px;
      opacity: 0.7;
      background-image: url('assets/img/expand-more.svg');
      background-repeat: no-repeat;
      background-position: center;
      transition: $trFast;
      margin-right: 20px;
      margin-bottom: 0;
      @media (max-width: $phoneWidth) {
        margin-right: 10px;
      }
      @media (max-width: $phoneWidth) {
        font-size: 10px;
      }
    }
    &_active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  &__dropdown {
    top: 100%;
    max-height: 0;
    overflow: hidden;
    transition: $trFast;
    &_active {
      padding-top: 10px;
      max-height: 1000px;
    }
    label {
      line-height: 1;
    }
  }
  &__item {
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: $border;
    border-radius: 4px;
    margin-right: 10px;

    &:focus {
      border: $borderHover;
    }
    @media (max-width: $phoneWidth) {
      margin-right: 5px;
    }
  }
  &__text {
    font-size: 14px;
    color: $ds50;
    line-height: 20px;
    white-space: pre-wrap;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
    }
  }
  &__checkbox {
    display: none;
  }
  &__checkbox:checked + span {
    border-color: $purple;
    background-image: url('./assets/img/Vector.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
