.filter-date {
  max-width: 320px;
  position: relative;
  &__label {
    position: relative;
  }
  &__title {
    text-transform: uppercase;
    font-size: rem(12);
    font-family: 'MontserratBold', sans-serif;
  }
  &__input {
    font-size: rem(14);
    border: $border;
    border-radius: rem(4);
    padding: 12px 15px;
    transition: $trFast;
    min-width: 266px;
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    &:focus {
      border: $borderHover;
    }
    &:hover {
      border: $borderHover;
    }
  }
  &__arrow {
    max-width: 12px;
    min-width: 12px;
    max-height: 12px;
    position: absolute;
    right: 15px;
    top: calc(50% + 10px);
    fill: $ds50;
  }
}
