mixin filter-date({className})
  .filter-date
    label.filter-date__label
      input(type="text" placeholder="от и до" class=className readonly required).filter-date__input.js-filter-date__input
      div.filter-date__arrow
