.filter-date {
  max-width: 320px;
  position: relative;
  &__label {
    position: relative;
  }
  &__input {
    font-size: 14px;
    border: $border;
    border-radius: 4px;
    padding: 12px 15px;
    transition: $trFast;
    min-width: 266px;
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    &:focus {
      border: $borderHover;
    }
    &:hover {
      border: $borderHover;
    }
    @media (max-width: $phoneWidth) {
      font-size: 12px;
    }
  }
  &__arrow {
    max-width: 12px;
    min-width: 12px;
    min-height: 12px;
    position: absolute;
    right: 15px;
    top: calc(50% + 10px);
    fill: $ds50;
    background-image: url('assets/img/expand-more.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
  }
}
