mixin filter-date({className, title})
  .filter-date
    label.filter-date__label
      span.block-title #{title}
      input(type="text" placeholder="от и до" class=className readonly required).filter-date__input.js-filter-date__input
      div.filter-date__arrow
