mixin checkbox-buttons({title})
  .checkbox-buttons
    span.checkbox-buttons__title #{title}
    label.checkbox-buttons__item
      input(type='checkbox').checkbox-buttons__checkbox
      span.checkbox-buttons__custom-checkbox 
      span.checkbox-buttons__text Можно курить

    label.checkbox-buttons__item
      input(type='checkbox').checkbox-buttons__checkbox
      span.checkbox-buttons__custom-checkbox 
      span.checkbox-buttons__text Можно с питомцами

    label.checkbox-buttons__item
      input(type='checkbox').checkbox-buttons__checkbox
      span.checkbox-buttons__custom-checkbox 
      span.checkbox-buttons__text   Можно пригласить гостей 
                                    br
                                    |(до 10 человек)