.checkbox-buttons {
  display: block;
  max-width: 222px;
  user-select: none;
  cursor: pointer;
  &__item {
    margin-bottom: 10px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
    @media (max-width: $phoneWidth) {
      margin-bottom: 5px;
    }
  }
  &__custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: $border;
    border-radius: 4px;
    margin-right: 10px;
    @media (max-width: $phoneWidth) {
      margin-right: 5px;
    }
    &:focus {
      border: $borderHover;
    }
  }
  &__text {
    font-size: 14px;
    color: $ds50;
    white-space: pre-wrap;
    line-height: 20px;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
    }
  }
  &__checkbox {
    display: none;
  }
  input:checked + span {
    border-color: $purple;
    background-image: url('./assets/img/Vector.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
