.checkbox-buttons {
  display: block;
  max-width: rem(222);
  user-select: none;
  cursor: pointer;
  &__item {
    margin-bottom: rem(10);
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__custom-checkbox {
    display: inline-block;
    width: rem(20);
    height: rem(20);
    min-width: rem(20);
    min-height: rem(20);
    border: $border;
    border-radius: rem(4);
    margin-right: rem(10);
    &:focus {
      border: $borderHover;
    }
  }
  &__text {
    font-size: rem(14);
    color: $ds50;
    white-space: pre-wrap;
    line-height: rem(18);
  }
  &__checkbox {
    display: none;
  }
  input:checked + span {
    border-color: $purple;
    background-image: url('./assets/img/Vector.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
