@import '~utils/utils-scss/vars.scss';
@import '~utils/utils-scss/focus-visible.scss';
@import '~utils/utils-scss/normalize.scss';
@import '~utils/utils-scss/fonts.scss';
@import '~utils/utils-scss/button.scss';
@import '~utils/utils-scss/mixins.scss';
@import '~components/header/header';
@import '~components/footer/footer';
@import '~components/logo/logo';
@import '~components/subscription/subscription';
@import '~components/block-title/block-title';

html {
  height: 100%;
  font-family: $font-family-primary;
  font-size: $main-font-size;
  line-height: $line-height-primary;
  font-weight: $normal;
  color: $text-color;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: $table-width) {
    font-size: 16px;
  }

  @media screen and (max-width: $phone-width) {
    font-size: 15px;
  }

  @media screen and (max-width: $sm-phone-width) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
