include ./utils/utils-pug/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title task-2
    meta(name="description", content="frontend lessons")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block head

  body(class=pageClass)
    .wrapper
      #app
        //- include ../includes/modules/header
        .content-wrapper
          block content

        #svg-icons
        //- include ../includes/modules/footer

    block script