extends ../main

include ../../components/textField/textField
include ../../components/subscription/subscription
include ../../components/header/header
include ../../components/footer/footer

block head
  link(rel='apple-touch-icon' sizes='180x180' href='assets/favicons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='assets/favicons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='assets/favicons/favicon-16x16.png')
  link(rel='manifest' href='assets/favicons/site.webmanifest')

block content
  svg.logo.logo_grey(role='image' aria-label='toxin logo')
    use(xlink:href="#logo-gray")
  main.headers-footers
    .wrapper
      .headers-footers__content
        .headers-footers__block
          +header({isEntered: false})
        .headers-footers__block
          +header({isEntered: true})
      .content
      .header-footers__block
        +footer()


block script
  script
