.ui-kit {
  margin-top: rem(140);
  margin-bottom: rem(130);
  &__first-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 3rem;
  }
  &__last-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    margin-bottom: 3rem;
  }
}
