mixin checkbox-buttons({title, items})
  .checkbox-buttons
    span.block-title.block-title_margin-b-16 #{title}
    each val in items
      label.checkbox-buttons__item
        input(type="checkbox").checkbox-buttons__checkbox
        span.checkbox-buttons__custom-checkbox(tabindex='0')
        span.checkbox-buttons__text
          | #{val}
