extends ../template

include ../../components/text-field/text-field.pug
include ../../components/masked-text-field/masked-text-field.pug
include ../../components/dropdown-choose/dropdown-choose.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/filter-date/filter-date.pug
include ../../components/subscription/subscription.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/toggle-buttons/toggle-buttons.pug
include ../../components/like-button/like-button
include ../../components/rate-buttons/rate-buttons
include ../../components/card-selection/card-selection
include ../../components/card-book/card-book
include ../../components/card-check-in/card-check-in
include ../../components/card-sign-in/card-sign-in
include ../../components/card-room/card-room

block head
block content
  svg.logo.logo_grey(aria-label="toxin logo")
    use(xlink:href="#logo-gray")
  main.cards-page
    .cards-page__container
      .cards-page__content.js-cards-page__content
        .cards-page__card
          +card-selection()
        .cards-page__card
          +card-book({
            number: 888,
            type: "люкс",
            priceForOneDay: "9 990",
            discount: "2 179",
            taxes: ["1 000", "300"]
          })
        .cards-page__card 
          .js-datepicker-inline
        .cards-page__card
          +card-sign-in()
        .cards-page__card
          +card-check-in()
        .cards-page__card
          +card-room([
            {src: "room-2.jpg"},
            {src: "room-2.jpg"},
            {src: "room-2.jpg"},
            {src: "room-2.jpg"}
          ],
          {
            type: "люкс",
            number: 888,
            priceForOneDay: "9 990",
            reviews: 145,
            rate: 4
          })
        .cards-page__card
          +card-room([
            {src: "room-1.jpg"},
            {src: "room-1.jpg"},
            {src: "room-1.jpg"},
            {src: "room-1.jpg"}
          ],
          {
            type: "люкс",
            number: 888,
            priceForOneDay: "9 990",
            reviews: 145,
            rate: 1
          })
