.like-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: rem(38);
  height: rem(18);
  min-width: rem(38);
  min-height: rem(18);
  @include Mont;
  cursor: pointer;
  background-color: #fff;
  border-radius: rem(10);
  position: relative;
  transition: $trFast;
  user-select: none;
  &:focus {
    &:after {
      background-color: $ds75;
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: rem(-1);
    display: block;
    min-width: rem(40);
    min-height: rem(20);
    z-index: -1;
    border-radius: rem(12);
    background-color: $ds25;
    transition: $trFast;
  }
  &__like {
    width: rem(10);
    height: rem(10);
    position: absolute;
    left: rem(4);
    transition: $trFast;
  }
  &__like-favorite {
    width: rem(10);
    height: rem(10);
    position: absolute;
    left: rem(4);
    transition: $trFast;
    opacity: 0;
  }
  &__likes {
    font-size: rem(12);
    color: $ds25;
    position: absolute;
    right: rem(9);
    transition: $trFast;
  }
  &_active {
    svg {
      transform: rotateZ(-360deg);
      animation-duration: $trFast;
      animation-name: changeSize;
      fill: $purple;
    }
    span {
      color: $purple;
    }
    &:after {
      background: $purpleGr;
      transition: $trFast;
    }
  }
}

@keyframes changeSize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
