.header {
  $self: &;
  background-color: $white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  position: relative;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    @media (max-width: $phoneWidth) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  &__nav-shadow {
    position: absolute;
    z-index: 900;
    top: 100%;
    right: 0;
    width: 100%;
    max-width: 0;
    min-height: 100vh;
    transition: 0.1;
    background-color: rgba(185, 101, 185, 0.98);
    &_active {
      transition: $trMid;
      max-width: 100%;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    @media (max-width: $smDesktopWidth) {
      display: none;
      text-align: center;
    }
    &_dropdown {
      overflow: hidden;
      min-height: 100vh;
      width: 100%;
      max-width: 0;
      transition: $trFast;
      position: absolute;
      background-color: $white;
      z-index: 1000;
      top: 100%;
      right: 0;
      @media (max-width: $smDesktopWidth) {
        display: block;
      }
      &-active {
        max-width: 80%;
      }
      #{$self}__list {
        display: block;
        margin-bottom: 10px;
        text-align: center;
      }
      #{$self}__list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        margin: 0;
        border-radius: 2px;
        transition: $trFast;
        &:after {
          margin-left: 10px;
          margin-bottom: 4px;
        }
        &:hover {
          background-color: $purple;
          #{$self}__link {
            color: $white;
          }
        }
      }
      #{$self}__link {
        display: inline-block;
        font-size: 18px;
        vertical-align: center;
        @media (max-width: $phoneWidth) {
          font-size: 16px;
        }
      }
      #{$self}__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #{$self}__button {
        display: inline-block;
        margin-bottom: 20px;
      }
      #{$self}__cabinet {
        display: inline-block;
        min-width: 50%;
        border: none;
        border-top: 1px solid rgba(31, 32, 65, 0.1);
        padding: 20px 10px;
      }
    }
  }
  &__list {
    display: inline-flex;
  }
  &__list-item {
    display: inline-flex;
    margin-right: 10px;
    cursor: pointer;
    &_dropdown {
      margin-right: 25px;
      &:after {
        content: '';
        display: inline-block;
        min-width: 8px;
        min-height: 8px;
        max-width: 8px;
        max-height: 8px;
        border: 2px solid $ds50;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
        margin-left: 10px;
        margin-top: 4px;
      }
    }
  }
  &__link {
    font-size: 14px;
    line-height: 17px;
    color: $ds50;
  }
  &__button {
    margin-right: 20px;
    padding: 10px 20px;
    @media (max-width: $smDesktopWidth) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__cabinet {
    font-size;
    line-height: 17px;
    color: $ds50;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    padding: 10px 0 10px 20px;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
    }
  }
  &__burger {
    cursor: pointer;
    display: none;
    width: 30px;
    height: 3px;
    background-color: $purple;
    position: relative;
    z-index: 10;
    border-radius: 50px;
    margin-left: 30px;
    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 3px;
      background-color: $purple;
      position: absolute;
      top: -9px;
      z-index: 10;
      border-radius: 50px;
    }
    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 3px;
      background-color: $purple;
      position: absolute;
      top: 8px;
      z-index: 10;
      border-radius: 50px;
    }
    &_active {
      height: 30px;
      background-color: $white;
      border: 2px solid $purple;
      border-radius: 50%;
      transition: $trFast;
      &:after {
        transform: rotate(45deg);
        top: calc(50% - 1px);
        width: 20px;
        left: calc(50% - 0.556rem);
      }
      &:before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
        left: calc(50% - 1px);
        width: 20px;
      }
    }
    @media (max-width: $smDesktopWidth) {
      display: block;
    }
  }
}
