.room-details {
  &__room-photos {
    display: grid;
    grid-template-columns: 2fr 1fr;

    overflow: hidden;
    @media (max-width: $desktopWidth) {
      max-height: 485px;
    }
    @media (max-width: $smDesktopWidth) {
      max-height: 100%;
      display: block;
    }
  }
  &__photo {
    @media (max-width: $smDesktopWidth) {
      border: 5px solid $white;
    }
  }

  &__main-photo {
    min-width: 100%;
    min-height: 100%;

    @media (max-width: $desktopWidth) {
      max-height: 485px;
    }
  }
  &__another-photos {
    @media (max-width: $smDesktopWidth) {
      display: flex;
    }
    @media (max-width: $tableWidth) {
      display: block;
    }
  }
  &__another-photo {
    min-width: 100%;
    min-height: 50%;
    @media (max-width: $desktopWidth) {
      max-height: calc(26.944rem / 2);
    }
    @media (max-width: $smDesktopWidth) {
      min-width: 50%;
    }
    @media (max-width: $tableWidth) {
      min-width: 100%;
    }
  }
  &__title {
    text-transform: initial;
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 20px;
    &_margin-l-20 {
      margin-left: 20px;
    }
    @media (max-width: $phoneWidth) {
      font-size: 15px;
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
    @media (max-width: $smDesktopWidth) {
      display: block;
    }
    @media (max-width: $smDesktopWidth) {
      max-width: $tableWidth;
      margin: 0 auto;
    }
  }
  &__block {
    @media (max-width: $phoneWidth) {
      margin-bottom: 50px;
    }
  }
  &__text-content {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }
  &__info {
    margin-bottom: 10px;
    @media (max-width: $smDesktopWidth) {
      margin: 0;
      margin-bottom: 30px;
    }
  }
  &__info-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @media (max-width: $tableWidth) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 18px;
    }
    @media (max-width: $phoneWidth) {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 18px;
    }
  }
  &__reviews {
    margin-bottom: 30px;
  }
  &__reviews-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__reviews-count {
    font-size: 14px;
    line-height: 14px;
    color: $ds50;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
      line-height: 12px;
    }
  }
  &__rules-block {
    display: flex;
    justify-content: space-between;
  }
  &__cancel-rule {
    max-width: 340px;
    @media (max-width: $phoneWidth) {
      margin-left: 5px;
    }
  }
  &__cancel-text {
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 24px;
    color: $ds75;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
      line-height: 20px;
    }
  }
  &__aside {
    @media (max-width: $smDesktopWidth) {
      display: flex;
      justify-content: center;
    }
  }
}
