@import '~components/button/button';

.text-field {
  display: block;
  max-width: 320px;
  position: relative;

  &:hover & {
    &__input {
      border: $border-input-hover;

      &::placeholder {
        color: $text-color-brightness-75;
      }
    }
  }

  &__title {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__input {
    padding: 12px 15px;
    width: 100%;
    font-family: $font-family-primary;
    font-size: 14px;
    color: $text-color-brightness-75;
    border: $border-input;
    border-radius: 4px;
    transition: $tr-fast;

    &::placeholder {
      font-size: 14px;
      color: $text-color-brightness-25;
      transition: $tr-fast;
    }

    &:focus {
      border: $border-input-hover;
      outline: none;

      &::placeholder {
        color: $text-color-brightness-75;
      }
    }

    @media (max-width: $phone-width) {
      font-size: 12px;

      &::placeholder {
        font-size: 12px;
      }
    }
  }

  &__button-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
