mixin date-dropdown({className, title, titleSecond})
  .date-dropdown
    label
      .date-dropdown__inputs
        .date-dropdown__first-block
          span.block-title #{title}
          input(type='text' placeholder="ДД.ММ.ГГГГ" class=className readonly).date-dropdown__input.js-date-dropdown
        .date-dropdwn__second-block
          span.block-title #{titleSecond}
          input(type='text' placeholder="ДД.ММ.ГГГГ" class=className readonly).date-dropdown__input