.date-dropdown {
  $self: &;
  max-width: 320px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  @media (max-width: $phoneWidth) {
    max-width: 100%;
  }
  &__title {
    text-transform: uppercase;
    font-size: rem(12);
    font-family: 'MontserratBold', sans-serif;
  }
  &__label {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    &:last-child {
      #{$self}__input {
        margin-right: 0;
      }
    }
  }

  &__input {
    line-height: rem(18);
  }
  &__input {
    font-size: rem(14);
    border: $border;
    border-radius: rem(4);
    padding: 12px 15px;
    transition: $trFast;
    max-width: 150px;
    @media (max-width: $phoneWidth) {
      max-width: 125px;
    }
    &:first-child {
      margin-right: rem(20);
    }
    &:focus {
      border: $borderHover;
    }
    &:hover {
      border: $borderHover;
    }
  }
  &__arrow {
    max-width: 12px;
    min-width: 12px;
    max-height: 12px;
    position: absolute;
    right: 15px;
    top: calc(50% + 4px);
    fill: $ds50;
  }
}
