mixin date-dropdown({className, title, titleSecond})
  .date-dropdown
    label.date-dropdown__label
      span.block-title #{title}
      input(type="text" placeholder="ДД.ММ.ГГГГ" class=className readonly required).date-dropdown__input.js-date-dropdown__input
      svg.date-dropdown__arrow
        use(xlink:href="#expand_more")
    label.date-dropdown__label
      span.block-title #{titleSecond}
      input(type="text" placeholder="ДД.ММ.ГГГГ" class=className readonly required).date-dropdown__input
      svg.date-dropdown__arrow
        use(xlink:href="#expand_more")