.date-dropdown {
  max-width: 320px;
  user-select: none;
  &__title {
    text-transform: uppercase;
    font-size: rem(12);
    font-family: 'MontserratBold', sans-serif;
  }
  &__inputs {
    display: flex;
  }
  &__first-block {
    margin-right: rem(10);
  }
  &__input {
    font-size: rem(14);
    border: $border;
    border-radius: rem(4);
    padding: 12px 15px;
    transition: $trFast;
    max-width: 150px;
    background-image: url('./assets/img/expand_more.jpg');
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    &:first-child {
      margin-right: rem(20);
    }
    &:focus {
      border: $borderHover;
    }
    &:hover {
      border: $borderHover;
    }
  }
}
