.dropdown-choose {
  $self: &;

  position: relative;
  font-size: 14px;
  border: $border-input;
  border-radius: 4px;
  transition: $tr-fast;
  user-select: none;

  @media (max-width: $phone-width) {
    font-size: 12px;
  }

  &:hover {
    border: $border-input-hover;
  }

  &:focus {
    border: $border-input-hover;
  }

  &_active {
    border: $border-input-hover;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

    #{$self}__menu {
      max-height: 500px;
      opacity: 1;
      border-top: $border-input-hover;
      border-bottom: $border-input-hover;
    }

    #{$self}__arrow {
      top: calc(50% - 4px);
      transform: rotate(135deg);
    }
  }

  &__title {
    font-family: $font-family-primary;
    font-size: 12px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    @media (max-width: $phone-width) {
      font-size: 10px;
    }
  }

  &__upper-field-wrap {
    position: relative;
    overflow: hidden;
    font-family: $font-family-primary;
    line-height: 18px;
    color: $text-color-brightness-75;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    caret-color: transparent;
  }

  &__upper-field {
    padding: 12px 15px;
    width: 100%;
    font-family: $font-family-primary;
    color: $text-color-brightness-75;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    top: calc(50% - 7px);
    right: 17px;
    width: 8px;
    height: 8px;
    border-left: 2px solid $text-color-brightness-50;
    border-bottom: 2px solid $text-color-brightness-50;
    transition: $tr-fast;
    transform: rotate(-45deg);
  }

  &__menu {
    position: absolute;
    z-index: 100;
    top: calc(100% - 2px);
    left: -1px;
    overflow: hidden;
    width: 100%;
    width: calc(100% + 2px);
    max-height: 0;
    opacity: 0;
    background-color: #fff;
    border: $border-input-hover;
    border-top: none;
    border-bottom: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: opacity $tr-fast;
    transition-timing-function: ease-in-out;
  }

  &__item {
    padding: 0 7px 7px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      padding-top: 6px;
    }
  }

  &__item-count {
    font-family: $font-family-primary;
    font-size: 12px;
    font-weight: $font-weight-bold;
  }

  &__item-text {
    max-width: 60%;
    font-family: $font-family-primary;
    font-size: 12px;
    line-height: 15px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    @media (max-width: $phone-width) {
      font-size: 10px;
    }
  }

  &__count-block {
    display: flex;
    min-width: 92px;
    justify-content: space-between;
    align-items: center;
  }

  &__plus,
  &__minus {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: none;
    border: $border-input-hover;
    border-radius: 50%;
    cursor: pointer;

    &_not-active {
      color: $text-color-brightness-25;
      border: 1px solid $text-color-brightness-25;
      cursor: initial;
    }
  }

  &__buttons {
    padding: 14px 7px 15px 15px;
    display: flex;
    justify-content: space-between;
    font-family: $font-family-primary;
    font-size: 12px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    @media (max-width: $phone-width) {
      font-size: 10px;
    }
  }

  &__btn-clear {
    color: $primary-color;
    cursor: pointer;

    &_hidden {
      visibility: hidden;
    }
  }

  &__btn-success {
    color: $primary-color;
    cursor: pointer;
  }
}
