.dropdown-choose {
  border: $border-input;
  border-radius: 4px;
  font-size: 14px;
  user-select: none;
  transition: $tr-fast;
  position: relative;
  @media (max-width: $phone-width) {
    font-size: 12px;
  }
  &:hover {
    border: $border-input-hover;
  }
  &:focus {
    border: $border-input-hover;
  }
  &_active {
    border: $border-input-hover;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  }
  &__title {
    text-transform: uppercase;
    font-family: $font-family-primary;
    font-weight: $bold;
    font-size: 12px;
    @media (max-width: $phone-width) {
      font-size: 10px;
    }
  }
  &__upper-field {
    padding: 12px 15px;
    position: relative;
    color: $text-color-brightness-75;
    line-height: 18px;
    font-family: $font-family-primary;
    font-weight: $bold;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  &__arrow {
    position: absolute;
    border-left: 2px solid $text-color-brightness-50;
    border-bottom: 2px solid $text-color-brightness-50;
    width: 8px;
    height: 8px;
    right: 17px;
    top: calc(50% - 8px);
    transform: rotate(-45deg);
    transition: $tr-fast;
    &_active {
      transform: rotate(135deg);
      top: calc(50% - 4px);
    }
  }
  &__menu {
    position: absolute;
    top: calc(100% - 2px);
    left: -1px;
    width: 100%;
    z-index: 100;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity $tr-fast;
    transition-timing-function: ease-in-out;
    background-color: #fff;
    border: $border-input-hover;
    border-bottom: none;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: calc(100% + 2px);
    &_active {
      border-top: $border-input-hover;
      border-bottom: $border-input-hover;
      max-height: 500px;
      opacity: 1;
    }
  }
  &__item {
    padding: 0 7px 7px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-child {
      padding-top: 6px;
    }
  }
  &__item-count {
    font-family: $font-family-primary;
    font-weight: $bold;
    font-size: 12px;
  }
  &__item-text {
    font-family: $font-family-primary;
    font-weight: $bold;
    text-transform: uppercase;
    font-size: 12px;
    max-width: 50%;
    line-height: 15px;
    @media (max-width: $phone-width) {
      font-size: 10px;
    }
  }
  &__count-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 92px;
  }

  &__plus,
  &__minus {
    width: 30px;
    height: 30px;
    border: $border-input-hover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &_noactive {
      border: 1px solid $text-color-brightness-25;
      cursor: initial;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 14px 7px 15px 7px;
    text-transform: uppercase;
    font-family: $font-family-primary;
    font-weight: $bold;
    font-size: 12px;
    @media (max-width: $phone-width) {
      font-size: 10px;
    }
  }
  &__btn-clear {
    cursor: pointer;
    color: $text-color-brightness-50;
    &_hidden {
      visibility: hidden;
    }
  }
  &__btn-access {
    cursor: pointer;
    color: $primary-color;
  }
}
