.rich-list {
  display: block;
  max-width: 266px;
  line-height: 1.2;
  cursor: pointer;
  user-select: none;

  &__title-wrap {
    margin-bottom: 15px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  &__li {
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
  }

  &__custom-checkbox {
    margin-right: 10px;
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    border: $border-input;
    border-radius: 4px;

    &:focus {
      border: $border-input-hover;
    }
  }

  &__head {
    margin-bottom: 3px;
    display: inline-block;
    overflow: hidden;
    max-width: 203px;
    font-family: $font-family-primary;
    font-size: 14px;
    line-height: 18px;
    font-weight: $bold;
    white-space: pre;
    white-space: break-spaces;
    text-overflow: ellipsis;
    color: $text-color-brightness-75;
    transition: $tr-fast;

    @media (max-width: $phone-width) {
      font-size: 10px;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 14px;
    white-space: pre-wrap;
    color: $text-color-brightness-50;

    @media (max-width: $phone-width) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  input {
    display: none;
  }

  input:checked + span {
    background-image: url('~img/vector.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-color: $primary-color;
  }
}
