mixin rich-list({title, items}) 
  .rich-list
    span.block-title.block-title_margin-b-16 #{title}
    ul.rich-list__ul
      each val in items
        li.rich-list__li
          label.rich-list__item
            input(type="checkbox").rich-list__checkbox
            span.rich-list__custom-checkbox(tabindex='0') 
            span.rich-list__text 
              span.rich-list__head #{val.title}
              br
              p.rich-list__description
                | #{val.description}
