.bullet-list {
  max-width: 292px;
  &__li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    @media (max-width: $phoneWidth) {
      margin-bottom: 5px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      min-width: 10px;
      min-width: 10px;
      background-color: $ds25;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 5px;
      @media (max-width: $phoneWidth) {
        margin-right: 5px;
      }
    }
  }
  &__text {
    @include Mont;
    font-size: 14px;
    color: $ds75;
    white-space: pre;
    line-height: 24px;
    white-space: pre-wrap;
    @media (max-width: $phoneWidth) {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
